<section>
    <form action=""></form>
<div class="text-center">
    <h2>STEERING GEAR PUMPS</h2>
</div>
<div class="table table-bordered">
    <table class="table table-bordered">
        <tr>
            <th>Occasion</th>
            <td>
                <input type="text" form-control formControlName="occasion-1">
            </td>
            <th>Date</th>
            <td>
                <input type="date" form-control formControlName="date-">
            </td>
        </tr>
    </table>
</div>
</section>