

<!-- 3.	Positional Checks -Steering Gear Harbour Trials in Non-Follow up mode    -->
<h3 class="main-heading">3.	Positional Checks -Steering Gear Harbour Trials in Non-Follow up mode   </h3>
<div class="table-section">
<form [formGroup]="WheelPortNFUForm">
  <h4 class="sub-heading">(a)	Operating Position - Wheel house with Port Pump (NFU)</h4>
  <!-- You can reuse this table structure for other headings too -->
  <table>
    <tr>
      <th rowspan="2">Helm applied</th>
      <th rowspan="2">Bridge Enclosed</th>
      <th rowspan="2">Analog ASP</th>
      <th rowspan="2">Wheel House</th>
      <th rowspan="2">MCR</th>
      <th colspan="2">Mechanical Indicator (ASP)</th>
    </tr>
    <tr>
      <th>P</th>
      <th>S</th>
    </tr>

    <tr>
      <td>MIDSHIP</td>
      <td><input type="text" formControlName="bridgeEnclosed0" /></td>
      <td><input type="text" formControlName="analogAsp0" /></td>
      <td><input type="text" formControlName="wheelHouse0" /></td>
      <td><input type="text" formControlName="mcr0" /></td>
      <td><input type="text" formControlName="mechPort0" /></td>
      <td><input type="text" formControlName="mechStbd0" /></td>
    </tr>

    <tr>
      <td>5° PORT</td>
      <td><input type="text" formControlName="bridgeEnclosed1" /></td>
      <td><input type="text" formControlName="analogAsp1" /></td>
      <td><input type="text" formControlName="wheelHouse1" /></td>
      <td><input type="text" formControlName="mcr1" /></td>
      <td><input type="text" formControlName="mechPort1" /></td>
      <td><input type="text" formControlName="mechStbd1" /></td>
    </tr>

    <tr>
      <td>10°</td>
      <td><input type="text" formControlName="bridgeEnclosed2" /></td>
      <td><input type="text" formControlName="analogAsp2" /></td>
      <td><input type="text" formControlName="wheelHouse2" /></td>
      <td><input type="text" formControlName="mcr2" /></td>
      <td><input type="text" formControlName="mechPort2" /></td>
      <td><input type="text" formControlName="mechStbd2" /></td>
    </tr>

    <tr>
      <td>15°</td>
      <td><input type="text" formControlName="bridgeEnclosed3" /></td>
      <td><input type="text" formControlName="analogAsp3" /></td>
      <td><input type="text" formControlName="wheelHouse3" /></td>
      <td><input type="text" formControlName="mcr3" /></td>
      <td><input type="text" formControlName="mechPort3" /></td>
      <td><input type="text" formControlName="mechStbd3" /></td>
    </tr>
    <!-- 20° -->
        <tr>
          <td>20°</td>
          <td><input type="text" formControlName="bridgeEnclosed4"></td>
          <td><input type="text" formControlName="analogAsp4"></td>
          <td><input type="text" formControlName="wheelHouse4"></td>
          <td><input type="text" formControlName="mcr4"></td>
          <td><input type="text" formControlName="mechPort4"></td>
          <td><input type="text" formControlName="mechStbd4"></td>
        </tr>
        <tr>
          <td>25°</td>
          <td><input type="text" formControlName="bridgeEnclosed5"></td>
          <td><input type="text" formControlName="analogAsp5"></td>
          <td><input type="text" formControlName="wheelHouse5"></td>
          <td><input type="text" formControlName="mcr5"></td>
          <td><input type="text" formControlName="mechPort5"></td>
          <td><input type="text" formControlName="mechStbd5"></td>
        </tr>
        <tr>
          <td>30°</td>
          <td><input type="text" formControlName="bridgeEnclosed6"></td>
          <td><input type="text" formControlName="analogAsp6"></td>
          <td><input type="text" formControlName="wheelHouse6"></td>
          <td><input type="text" formControlName="mcr6"></td>
          <td><input type="text" formControlName="mechPort6"></td>
          <td><input type="text" formControlName="mechStbd6"></td>
        </tr>
        <tr>
          <td>35°</td>
          <td><input type="text" formControlName="bridgeEnclosed7"></td>
          <td><input type="text" formControlName="analogAsp7"></td>
          <td><input type="text" formControlName="wheelHouse7"></td>
          <td><input type="text" formControlName="mcr7"></td>
          <td><input type="text" formControlName="mechPort7"></td>
          <td><input type="text" formControlName="mechStbd7"></td>
        </tr>
        <tr>
          <td>30°</td>
          <td><input type="text" formControlName="bridgeEnclosed8"></td>
          <td><input type="text" formControlName="analogAsp8"></td>
          <td><input type="text" formControlName="wheelHouse8"></td>
          <td><input type="text" formControlName="mcr8"></td>
          <td><input type="text" formControlName="mechPort8"></td>
          <td><input type="text" formControlName="mechStbd8"></td>
        </tr>
        <tr>
          <td>25°</td>
          <td><input type="text" formControlName="bridgeEnclosed9"></td>
          <td><input type="text" formControlName="analogAsp9"></td>
          <td><input type="text" formControlName="wheelHouse9"></td>
          <td><input type="text" formControlName="mcr9"></td>
          <td><input type="text" formControlName="mechPort9"></td>
          <td><input type="text" formControlName="mechStbd9"></td>
        </tr>
        <tr>
          <td>20°</td>
          <td><input type="text" formControlName="bridgeEnclosed10"></td>
          <td><input type="text" formControlName="analogAsp10"></td>
          <td><input type="text" formControlName="wheelHouse10"></td>
          <td><input type="text" formControlName="mcr10"></td>
          <td><input type="text" formControlName="mechPort10"></td>
          <td><input type="text" formControlName="mechStbd10"></td>
        </tr>
        <tr>
      <td>15°</td>
      <td><input type="text" formControlName="bridgeEnclosed11" /></td>
      <td><input type="text" formControlName="analogAsp11" /></td>
      <td><input type="text" formControlName="wheelHouse11" /></td>
      <td><input type="text" formControlName="mcr11" /></td>
      <td><input type="text" formControlName="mechPort11" /></td>
      <td><input type="text" formControlName="mechStbd11" /></td>
    </tr>
    <tr>
      <td>10°</td>
      <td><input type="text" formControlName="bridgeEnclosed12" /></td>
      <td><input type="text" formControlName="analogAsp12" /></td>
      <td><input type="text" formControlName="wheelHouse12" /></td>
      <td><input type="text" formControlName="mcr12" /></td>
      <td><input type="text" formControlName="mechPort12" /></td>
      <td><input type="text" formControlName="mechStbd12" /></td>
    </tr>
    <tr>
      <td>5°</td>
      <td><input type="text" formControlName="bridgeEnclosed13" /></td>
      <td><input type="text" formControlName="analogAsp13" /></td>
      <td><input type="text" formControlName="wheelHouse13" /></td>
      <td><input type="text" formControlName="mcr13" /></td>
      <td><input type="text" formControlName="mechPort13" /></td>
      <td><input type="text" formControlName="mechStbd13" /></td>
    </tr>

    <tr>
      <td>MIDSHIP</td>
      <td><input type="text" formControlName="bridgeEnclosed14" /></td>
      <td><input type="text" formControlName="analogAsp14" /></td>
      <td><input type="text" formControlName="wheelHouse14" /></td>
      <td><input type="text" formControlName="mcr14" /></td>
      <td><input type="text" formControlName="mechPort14" /></td>
      <td><input type="text" formControlName="mechStbd14" /></td>
    </tr>

    <tr>
      <td>5° STBD</td>
      <td><input type="text" formControlName="bridgeEnclosed15" /></td>
      <td><input type="text" formControlName="analogAsp15" /></td>
      <td><input type="text" formControlName="wheelHouse15" /></td>
      <td><input type="text" formControlName="mcr15" /></td>
      <td><input type="text" formControlName="mechPort15" /></td>
      <td><input type="text" formControlName="mechStbd15" /></td>
    </tr>

    <tr>
      <td>10°</td>
      <td><input type="text" formControlName="bridgeEnclosed16" /></td>
      <td><input type="text" formControlName="analogAsp16" /></td>
      <td><input type="text" formControlName="wheelHouse16" /></td>
      <td><input type="text" formControlName="mcr16" /></td>
      <td><input type="text" formControlName="mechPort16" /></td>
      <td><input type="text" formControlName="mechStbd16" /></td>
    </tr>

    <tr>
      <td>15°</td>
      <td><input type="text" formControlName="bridgeEnclosed17" /></td>
      <td><input type="text" formControlName="analogAsp17" /></td>
      <td><input type="text" formControlName="wheelHouse17" /></td>
      <td><input type="text" formControlName="mcr17" /></td>
      <td><input type="text" formControlName="mechPort17" /></td>
      <td><input type="text" formControlName="mechStbd17" /></td>
    </tr>
    <!-- 20° -->
        <tr>
          <td>20°</td>
          <td><input type="text" formControlName="bridgeEnclosed18"></td>
          <td><input type="text" formControlName="analogAsp18"></td>
          <td><input type="text" formControlName="wheelHouse18"></td>
          <td><input type="text" formControlName="mcr18"></td>
          <td><input type="text" formControlName="mechPort18"></td>
          <td><input type="text" formControlName="mechStbd18"></td>
        </tr>
        <tr>
          <td>25°</td>
          <td><input type="text" formControlName="bridgeEnclosed19"></td>
          <td><input type="text" formControlName="analogAsp19"></td>
          <td><input type="text" formControlName="wheelHouse19"></td>
          <td><input type="text" formControlName="mcr19"></td>
          <td><input type="text" formControlName="mechPort19"></td>
          <td><input type="text" formControlName="mechStbd19"></td>
        </tr>
        <tr>
          <td>30°</td>
          <td><input type="text" formControlName="bridgeEnclosed20"></td>
          <td><input type="text" formControlName="analogAsp20"></td>
          <td><input type="text" formControlName="wheelHouse20"></td>
          <td><input type="text" formControlName="mcr20"></td>
          <td><input type="text" formControlName="mechPort20"></td>
          <td><input type="text" formControlName="mechStbd20"></td>
        </tr>
        <tr>
          <td>35°</td>
          <td><input type="text" formControlName="bridgeEnclosed21"></td>
          <td><input type="text" formControlName="analogAsp21"></td>
          <td><input type="text" formControlName="wheelHouse21"></td>
          <td><input type="text" formControlName="mcr21"></td>
          <td><input type="text" formControlName="mechPort21"></td>
          <td><input type="text" formControlName="mechStbd21"></td>
        </tr>
        <tr>
          <td>30°</td>
          <td><input type="text" formControlName="bridgeEnclosed22"></td>
          <td><input type="text" formControlName="analogAsp22"></td>
          <td><input type="text" formControlName="wheelHouse22"></td>
          <td><input type="text" formControlName="mcr22"></td>
          <td><input type="text" formControlName="mechPort22"></td>
          <td><input type="text" formControlName="mechStbd22"></td>
        </tr>
        <tr>
          <td>25°</td>
          <td><input type="text" formControlName="bridgeEnclosed23"></td>
          <td><input type="text" formControlName="analogAsp23"></td>
          <td><input type="text" formControlName="wheelHouse23"></td>
          <td><input type="text" formControlName="mcr23"></td>
          <td><input type="text" formControlName="mechPort23"></td>
          <td><input type="text" formControlName="mechStbd23"></td>
        </tr>
        <tr>
          <td>20°</td>
          <td><input type="text" formControlName="bridgeEnclosed24"></td>
          <td><input type="text" formControlName="analogAsp24"></td>
          <td><input type="text" formControlName="wheelHouse24"></td>
          <td><input type="text" formControlName="mcr24"></td>
          <td><input type="text" formControlName="mechPort24"></td>
          <td><input type="text" formControlName="mechStbd24"></td>
        </tr>
        <tr>
      <td>15°</td>
      <td><input type="text" formControlName="bridgeEnclosed25" /></td>
      <td><input type="text" formControlName="analogAsp25" /></td>
      <td><input type="text" formControlName="wheelHouse25" /></td>
      <td><input type="text" formControlName="mcr25" /></td>
      <td><input type="text" formControlName="mechPort25" /></td>
      <td><input type="text" formControlName="mechStbd25" /></td>
    </tr>
    <tr>
      <td>10°</td>
      <td><input type="text" formControlName="bridgeEnclosed26" /></td>
      <td><input type="text" formControlName="analogAsp26" /></td>
      <td><input type="text" formControlName="wheelHouse26" /></td>
      <td><input type="text" formControlName="mcr26" /></td>
      <td><input type="text" formControlName="mechPort26" /></td>
      <td><input type="text" formControlName="mechStbd26" /></td>
    </tr>
    <tr>
      <td>5°</td>
      <td><input type="text" formControlName="bridgeEnclosed27" /></td>
      <td><input type="text" formControlName="analogAsp27" /></td>
      <td><input type="text" formControlName="wheelHouse27" /></td>
      <td><input type="text" formControlName="mcr27" /></td>
      <td><input type="text" formControlName="mechPort27" /></td>
      <td><input type="text" formControlName="mechStbd27" /></td>
    </tr>
    <tr>
      <td>MIDSHIP</td>
      <td><input type="text" formControlName="bridgeEnclosed28" /></td>
      <td><input type="text" formControlName="analogAsp28" /></td>
      <td><input type="text" formControlName="wheelHouse28" /></td>
      <td><input type="text" formControlName="mcr28" /></td>
      <td><input type="text" formControlName="mechPort28" /></td>
      <td><input type="text" formControlName="mechStbd28" /></td>
    </tr>
  </table>
</form>
</div>


<div class="table-section">
<form [formGroup]="WheelStbdNFUForm">
  <h4 class="sub-heading">(b)	Operating Position- Bridge with Stbd Pump (NFU)</h4>
  <!-- You can reuse this table structure for other headings too -->
  <table>
    <tr>
      <th rowspan="2">Helm applied</th>
      <th rowspan="2">Bridge Enclosed</th>
      <th rowspan="2">Analog ASP</th>
      <th rowspan="2">Wheel House</th>
      <th rowspan="2">MCR</th>
      <th colspan="2">Mechanical Indicator (ASP)</th>
    </tr>
    <tr>
      <th>P</th>
      <th>S</th>
    </tr>

    <tr>
      <td>MIDSHIP</td>
      <td><input type="text" formControlName="bridgeEnclosed29" /></td>
      <td><input type="text" formControlName="analogAsp29" /></td>
      <td><input type="text" formControlName="wheelHouse29" /></td>
      <td><input type="text" formControlName="mcr29" /></td>
      <td><input type="text" formControlName="mechPort29" /></td>
      <td><input type="text" formControlName="mechStbd29" /></td>
    </tr>

    <tr>
      <td>5° PORT</td>
      <td><input type="text" formControlName="bridgeEnclosed30" /></td>
      <td><input type="text" formControlName="analogAsp30" /></td>
      <td><input type="text" formControlName="wheelHouse30" /></td>
      <td><input type="text" formControlName="mcr30" /></td>
      <td><input type="text" formControlName="mechPort30" /></td>
      <td><input type="text" formControlName="mechStbd30" /></td>
    </tr>

    <tr>
      <td>10°</td>
      <td><input type="text" formControlName="bridgeEnclosed31" /></td>
      <td><input type="text" formControlName="analogAsp31" /></td>
      <td><input type="text" formControlName="wheelHouse31" /></td>
      <td><input type="text" formControlName="mcr31" /></td>
      <td><input type="text" formControlName="mechPort31" /></td>
      <td><input type="text" formControlName="mechStbd31" /></td>
    </tr>

    <tr>
      <td>15°</td>
      <td><input type="text" formControlName="bridgeEnclosed32" /></td>
      <td><input type="text" formControlName="analogAsp32" /></td>
      <td><input type="text" formControlName="wheelHouse32" /></td>
      <td><input type="text" formControlName="mcr32" /></td>
      <td><input type="text" formControlName="mechPort32" /></td>
      <td><input type="text" formControlName="mechStbd32" /></td>
    </tr>
    <!-- 20° -->
        <tr>
          <td>20°</td>
          <td><input type="text" formControlName="bridgeEnclosed33"></td>
          <td><input type="text" formControlName="analogAsp33"></td>
          <td><input type="text" formControlName="wheelHouse33"></td>
          <td><input type="text" formControlName="mcr33"></td>
          <td><input type="text" formControlName="mechPort33"></td>
          <td><input type="text" formControlName="mechStbd33"></td>
        </tr>
        <tr>
          <td>25°</td>
          <td><input type="text" formControlName="bridgeEnclosed34"></td>
          <td><input type="text" formControlName="analogAsp34"></td>
          <td><input type="text" formControlName="wheelHouse34"></td>
          <td><input type="text" formControlName="mcr34"></td>
          <td><input type="text" formControlName="mechPort34"></td>
          <td><input type="text" formControlName="mechStbd34"></td>
        </tr>
        <tr>
          <td>30°</td>
          <td><input type="text" formControlName="bridgeEnclosed35"></td>
          <td><input type="text" formControlName="analogAsp35"></td>
          <td><input type="text" formControlName="wheelHouse35"></td>
          <td><input type="text" formControlName="mcr35"></td>
          <td><input type="text" formControlName="mechPort35"></td>
          <td><input type="text" formControlName="mechStbd35"></td>
        </tr>
        <tr>
          <td>35°</td>
          <td><input type="text" formControlName="bridgeEnclosed36"></td>
          <td><input type="text" formControlName="analogAsp36"></td>
          <td><input type="text" formControlName="wheelHouse36"></td>
          <td><input type="text" formControlName="mcr36"></td>
          <td><input type="text" formControlName="mechPort36"></td>
          <td><input type="text" formControlName="mechStbd36"></td>
        </tr>
        <tr>
          <td>30°</td>
          <td><input type="text" formControlName="bridgeEnclosed37"></td>
          <td><input type="text" formControlName="analogAsp37"></td>
          <td><input type="text" formControlName="wheelHouse37"></td>
          <td><input type="text" formControlName="mcr37"></td>
          <td><input type="text" formControlName="mechPort37"></td>
          <td><input type="text" formControlName="mechStbd37"></td>
        </tr>
        <tr>
          <td>25°</td>
          <td><input type="text" formControlName="bridgeEnclosed38"></td>
          <td><input type="text" formControlName="analogAsp38"></td>
          <td><input type="text" formControlName="wheelHouse38"></td>
          <td><input type="text" formControlName="mcr38"></td>
          <td><input type="text" formControlName="mechPort38"></td>
          <td><input type="text" formControlName="mechStbd38"></td>
        </tr>
        <tr>
          <td>20°</td>
          <td><input type="text" formControlName="bridgeEnclosed39"></td>
          <td><input type="text" formControlName="analogAsp39"></td>
          <td><input type="text" formControlName="wheelHouse39"></td>
          <td><input type="text" formControlName="mcr39"></td>
          <td><input type="text" formControlName="mechPort39"></td>
          <td><input type="text" formControlName="mechStbd39"></td>
        </tr>
        <tr>
      <td>15°</td>
      <td><input type="text" formControlName="bridgeEnclosed40" /></td>
      <td><input type="text" formControlName="analogAsp40" /></td>
      <td><input type="text" formControlName="wheelHouse40" /></td>
      <td><input type="text" formControlName="mcr40" /></td>
      <td><input type="text" formControlName="mechPort40" /></td>
      <td><input type="text" formControlName="mechStbd40" /></td>
    </tr>
    <tr>
      <td>10°</td>
      <td><input type="text" formControlName="bridgeEnclosed41" /></td>
      <td><input type="text" formControlName="analogAsp41" /></td>
      <td><input type="text" formControlName="wheelHouse41" /></td>
      <td><input type="text" formControlName="mcr41" /></td>
      <td><input type="text" formControlName="mechPort41" /></td>
      <td><input type="text" formControlName="mechStbd41" /></td>
    </tr>
    <tr>
      <td>5°</td>
      <td><input type="text" formControlName="bridgeEnclosed42" /></td>
      <td><input type="text" formControlName="analogAsp42" /></td>
      <td><input type="text" formControlName="wheelHouse42" /></td>
      <td><input type="text" formControlName="mcr42" /></td>
      <td><input type="text" formControlName="mechPort42" /></td>
      <td><input type="text" formControlName="mechStbd42" /></td>
    </tr>

    <tr>
      <td>MIDSHIP</td>
      <td><input type="text" formControlName="bridgeEnclosed43" /></td>
      <td><input type="text" formControlName="analogAsp43" /></td>
      <td><input type="text" formControlName="wheelHouse43" /></td>
      <td><input type="text" formControlName="mcr43" /></td>
      <td><input type="text" formControlName="mechPort43" /></td>
      <td><input type="text" formControlName="mechStbd43" /></td>
    </tr>

    <tr>
      <td>5° STBD</td>
      <td><input type="text" formControlName="bridgeEnclosed44" /></td>
      <td><input type="text" formControlName="analogAsp44" /></td>
      <td><input type="text" formControlName="wheelHouse44" /></td>
      <td><input type="text" formControlName="mcr44" /></td>
      <td><input type="text" formControlName="mechPort44" /></td>
      <td><input type="text" formControlName="mechStbd44" /></td>
    </tr>

    <tr>
      <td>10°</td>
      <td><input type="text" formControlName="bridgeEnclosed45" /></td>
      <td><input type="text" formControlName="analogAsp45" /></td>
      <td><input type="text" formControlName="wheelHouse45" /></td>
      <td><input type="text" formControlName="mcr45" /></td>
      <td><input type="text" formControlName="mechPort45" /></td>
      <td><input type="text" formControlName="mechStbd45" /></td>
    </tr>

    <tr>
      <td>15°</td>
      <td><input type="text" formControlName="bridgeEnclosed46" /></td>
      <td><input type="text" formControlName="analogAsp46" /></td>
      <td><input type="text" formControlName="wheelHouse46" /></td>
      <td><input type="text" formControlName="mcr46" /></td>
      <td><input type="text" formControlName="mechPort46" /></td>
      <td><input type="text" formControlName="mechStbd46" /></td>
    </tr>
    <!-- 20° -->
        <tr>
          <td>20°</td>
          <td><input type="text" formControlName="bridgeEnclosed47"></td>
          <td><input type="text" formControlName="analogAsp47"></td>
          <td><input type="text" formControlName="wheelHouse47"></td>
          <td><input type="text" formControlName="mcr47"></td>
          <td><input type="text" formControlName="mechPort47"></td>
          <td><input type="text" formControlName="mechStbd47"></td>
        </tr>
        <tr>
          <td>25°</td>
          <td><input type="text" formControlName="bridgeEnclosed48"></td>
          <td><input type="text" formControlName="analogAsp48"></td>
          <td><input type="text" formControlName="wheelHouse48"></td>
          <td><input type="text" formControlName="mcr48"></td>
          <td><input type="text" formControlName="mechPort48"></td>
          <td><input type="text" formControlName="mechStbd48"></td>
        </tr>
        <tr>
          <td>30°</td>
          <td><input type="text" formControlName="bridgeEnclosed49"></td>
          <td><input type="text" formControlName="analogAsp49"></td>
          <td><input type="text" formControlName="wheelHouse49"></td>
          <td><input type="text" formControlName="mcr49"></td>
          <td><input type="text" formControlName="mechPort49"></td>
          <td><input type="text" formControlName="mechStbd49"></td>
        </tr>
        <tr>
          <td>35°</td>
          <td><input type="text" formControlName="bridgeEnclosed50"></td>
          <td><input type="text" formControlName="analogAsp50"></td>
          <td><input type="text" formControlName="wheelHouse50"></td>
          <td><input type="text" formControlName="mcr50"></td>
          <td><input type="text" formControlName="mechPort50"></td>
          <td><input type="text" formControlName="mechStbd50"></td>
        </tr>
        <tr>
          <td>30°</td>
          <td><input type="text" formControlName="bridgeEnclosed51"></td>
          <td><input type="text" formControlName="analogAsp51"></td>
          <td><input type="text" formControlName="wheelHouse51"></td>
          <td><input type="text" formControlName="mcr51"></td>
          <td><input type="text" formControlName="mechPort51"></td>
          <td><input type="text" formControlName="mechStbd51"></td>
        </tr>
        <tr>
          <td>25°</td>
          <td><input type="text" formControlName="bridgeEnclosed52"></td>
          <td><input type="text" formControlName="analogAsp52"></td>
          <td><input type="text" formControlName="wheelHouse52"></td>
          <td><input type="text" formControlName="mcr52"></td>
          <td><input type="text" formControlName="mechPort52"></td>
          <td><input type="text" formControlName="mechStbd52"></td>
        </tr>
        <tr>
          <td>20°</td>
          <td><input type="text" formControlName="bridgeEnclosed53"></td>
          <td><input type="text" formControlName="analogAsp53"></td>
          <td><input type="text" formControlName="wheelHouse53"></td>
          <td><input type="text" formControlName="mcr53"></td>
          <td><input type="text" formControlName="mechPort53"></td>
          <td><input type="text" formControlName="mechStbd53"></td>
        </tr>
        <tr>
      <td>15°</td>
      <td><input type="text" formControlName="bridgeEnclosed54" /></td>
      <td><input type="text" formControlName="analogAsp54" /></td>
      <td><input type="text" formControlName="wheelHouse54" /></td>
      <td><input type="text" formControlName="mcr54" /></td>
      <td><input type="text" formControlName="mechPort54" /></td>
      <td><input type="text" formControlName="mechStbd54" /></td>
    </tr>
    <tr>
      <td>10°</td>
      <td><input type="text" formControlName="bridgeEnclosed55" /></td>
      <td><input type="text" formControlName="analogAsp55" /></td>
      <td><input type="text" formControlName="wheelHouse55" /></td>
      <td><input type="text" formControlName="mcr55" /></td>
      <td><input type="text" formControlName="mechPort55" /></td>
      <td><input type="text" formControlName="mechStbd55" /></td>
    </tr>
    <tr>
      <td>5°</td>
      <td><input type="text" formControlName="bridgeEnclosed56" /></td>
      <td><input type="text" formControlName="analogAsp56" /></td>
      <td><input type="text" formControlName="wheelHouse56" /></td>
      <td><input type="text" formControlName="mcr56" /></td>
      <td><input type="text" formControlName="mechPort56" /></td>
      <td><input type="text" formControlName="mechStbd56" /></td>
    </tr>
    <tr>
      <td>MIDSHIP</td>
      <td><input type="text" formControlName="bridgeEnclosed57" /></td>
      <td><input type="text" formControlName="analogAsp57" /></td>
      <td><input type="text" formControlName="wheelHouse57" /></td>
      <td><input type="text" formControlName="mcr57" /></td>
      <td><input type="text" formControlName="mechPort57" /></td>
      <td><input type="text" formControlName="mechStbd57" /></td>
    </tr>
  </table>
</form>
</div>



<div class="table-section">
<form [formGroup]="BridgePortNFUForm">
  <h4 class="sub-heading">(a)	Operating Position - Wheel house with Port Pump (NFU)</h4>
  <!-- You can reuse this table structure for other headings too -->
  <table>
    <tr>
      <th rowspan="2">Helm applied</th>
      <th rowspan="2">Bridge Enclosed</th>
      <th rowspan="2">Analog ASP</th>
      <th rowspan="2">Wheel House</th>
      <th rowspan="2">MCR</th>
      <th colspan="2">Mechanical Indicator (ASP)</th>
    </tr>
    <tr>
      <th>P</th>
      <th>S</th>
    </tr>

    <tr>
      <td>MIDSHIP</td>
      <td><input type="text" formControlName="bridgeEnclosed58" /></td>
      <td><input type="text" formControlName="analogAsp58" /></td>
      <td><input type="text" formControlName="wheelHouse58" /></td>
      <td><input type="text" formControlName="mcr58" /></td>
      <td><input type="text" formControlName="mechPort58" /></td>
      <td><input type="text" formControlName="mechStbd58" /></td>
    </tr>

    <tr>
      <td>5° PORT</td>
      <td><input type="text" formControlName="bridgeEnclosed59" /></td>
      <td><input type="text" formControlName="analogAsp59" /></td>
      <td><input type="text" formControlName="wheelHouse59" /></td>
      <td><input type="text" formControlName="mcr59" /></td>
      <td><input type="text" formControlName="mechPort59" /></td>
      <td><input type="text" formControlName="mechStbd59" /></td>
    </tr>

    <tr>
      <td>10°</td>
      <td><input type="text" formControlName="bridgeEnclosed60" /></td>
      <td><input type="text" formControlName="analogAsp60" /></td>
      <td><input type="text" formControlName="wheelHouse60" /></td>
      <td><input type="text" formControlName="mcr60" /></td>
      <td><input type="text" formControlName="mechPort60" /></td>
      <td><input type="text" formControlName="mechStbd60" /></td>
    </tr>

    <tr>
      <td>15°</td>
      <td><input type="text" formControlName="bridgeEnclosed61" /></td>
      <td><input type="text" formControlName="analogAsp61" /></td>
      <td><input type="text" formControlName="wheelHouse61" /></td>
      <td><input type="text" formControlName="mcr61" /></td>
      <td><input type="text" formControlName="mechPort61" /></td>
      <td><input type="text" formControlName="mechStbd61" /></td>
    </tr>
    <!-- 20° -->
        <tr>
          <td>20°</td>
          <td><input type="text" formControlName="bridgeEnclosed62"></td>
          <td><input type="text" formControlName="analogAsp62"></td>
          <td><input type="text" formControlName="wheelHouse62"></td>
          <td><input type="text" formControlName="mcr62"></td>
          <td><input type="text" formControlName="mechPort62"></td>
          <td><input type="text" formControlName="mechStbd62"></td>
        </tr>
        <tr>
          <td>25°</td>
          <td><input type="text" formControlName="bridgeEnclosed63"></td>
          <td><input type="text" formControlName="analogAsp63"></td>
          <td><input type="text" formControlName="wheelHouse63"></td>
          <td><input type="text" formControlName="mcr63"></td>
          <td><input type="text" formControlName="mechPort63"></td>
          <td><input type="text" formControlName="mechStbd63"></td>
        </tr>
        <tr>
          <td>30°</td>
          <td><input type="text" formControlName="bridgeEnclosed64"></td>
          <td><input type="text" formControlName="analogAsp64"></td>
          <td><input type="text" formControlName="wheelHouse64"></td>
          <td><input type="text" formControlName="mcr64"></td>
          <td><input type="text" formControlName="mechPort64"></td>
          <td><input type="text" formControlName="mechStbd64"></td>
        </tr>
        <tr>
          <td>35°</td>
          <td><input type="text" formControlName="bridgeEnclosed65"></td>
          <td><input type="text" formControlName="analogAsp65"></td>
          <td><input type="text" formControlName="wheelHouse65"></td>
          <td><input type="text" formControlName="mcr65"></td>
          <td><input type="text" formControlName="mechPort65"></td>
          <td><input type="text" formControlName="mechStbd65"></td>
        </tr>
        <tr>
          <td>30°</td>
          <td><input type="text" formControlName="bridgeEnclosed66"></td>
          <td><input type="text" formControlName="analogAsp66"></td>
          <td><input type="text" formControlName="wheelHouse66"></td>
          <td><input type="text" formControlName="mcr66"></td>
          <td><input type="text" formControlName="mechPort66"></td>
          <td><input type="text" formControlName="mechStbd66"></td>
        </tr>
        <tr>
          <td>25°</td>
          <td><input type="text" formControlName="bridgeEnclosed67"></td>
          <td><input type="text" formControlName="analogAsp67"></td>
          <td><input type="text" formControlName="wheelHouse67"></td>
          <td><input type="text" formControlName="mcr67"></td>
          <td><input type="text" formControlName="mechPort67"></td>
          <td><input type="text" formControlName="mechStbd67"></td>
        </tr>
        <tr>
          <td>20°</td>
          <td><input type="text" formControlName="bridgeEnclosed68"></td>
          <td><input type="text" formControlName="analogAsp68"></td>
          <td><input type="text" formControlName="wheelHouse68"></td>
          <td><input type="text" formControlName="mcr68"></td>
          <td><input type="text" formControlName="mechPort68"></td>
          <td><input type="text" formControlName="mechStbd68"></td>
        </tr>
        <tr>
      <td>15°</td>
      <td><input type="text" formControlName="bridgeEnclosed69" /></td>
      <td><input type="text" formControlName="analogAsp69" /></td>
      <td><input type="text" formControlName="wheelHouse69" /></td>
      <td><input type="text" formControlName="mcr69" /></td>
      <td><input type="text" formControlName="mechPort69" /></td>
      <td><input type="text" formControlName="mechStbd69" /></td>
    </tr>
    <tr>
      <td>10°</td>
      <td><input type="text" formControlName="bridgeEnclosed70" /></td>
      <td><input type="text" formControlName="analogAsp70" /></td>
      <td><input type="text" formControlName="wheelHouse70" /></td>
      <td><input type="text" formControlName="mcr70" /></td>
      <td><input type="text" formControlName="mechPort70" /></td>
      <td><input type="text" formControlName="mechStbd70" /></td>
    </tr>
    <tr>
      <td>5°</td>
      <td><input type="text" formControlName="bridgeEnclosed71" /></td>
      <td><input type="text" formControlName="analogAsp71" /></td>
      <td><input type="text" formControlName="wheelHouse71" /></td>
      <td><input type="text" formControlName="mcr71" /></td>
      <td><input type="text" formControlName="mechPort71" /></td>
      <td><input type="text" formControlName="mechStbd71" /></td>
    </tr>

    <tr>
      <td>MIDSHIP</td>
      <td><input type="text" formControlName="bridgeEnclosed72" /></td>
      <td><input type="text" formControlName="analogAsp72" /></td>
      <td><input type="text" formControlName="wheelHouse72" /></td>
      <td><input type="text" formControlName="mcr72" /></td>
      <td><input type="text" formControlName="mechPort72" /></td>
      <td><input type="text" formControlName="mechStbd72" /></td>
    </tr>

    <tr>
      <td>5° STBD</td>
      <td><input type="text" formControlName="bridgeEnclosed73" /></td>
      <td><input type="text" formControlName="analogAsp73" /></td>
      <td><input type="text" formControlName="wheelHouse73" /></td>
      <td><input type="text" formControlName="mcr73" /></td>
      <td><input type="text" formControlName="mechPort73" /></td>
      <td><input type="text" formControlName="mechStbd73" /></td>
    </tr>

    <tr>
      <td>10°</td>
      <td><input type="text" formControlName="bridgeEnclosed74" /></td>
      <td><input type="text" formControlName="analogAsp74" /></td>
      <td><input type="text" formControlName="wheelHouse74" /></td>
      <td><input type="text" formControlName="mcr74" /></td>
      <td><input type="text" formControlName="mechPort74" /></td>
      <td><input type="text" formControlName="mechStbd74" /></td>
    </tr>

    <tr>
      <td>15°</td>
      <td><input type="text" formControlName="bridgeEnclosed75" /></td>
      <td><input type="text" formControlName="analogAsp75" /></td>
      <td><input type="text" formControlName="wheelHouse75" /></td>
      <td><input type="text" formControlName="mcr75" /></td>
      <td><input type="text" formControlName="mechPort75" /></td>
      <td><input type="text" formControlName="mechStbd75" /></td>
    </tr>
    <!-- 20° -->
        <tr>
          <td>20°</td>
          <td><input type="text" formControlName="bridgeEnclosed76"></td>
          <td><input type="text" formControlName="analogAsp76"></td>
          <td><input type="text" formControlName="wheelHouse76"></td>
          <td><input type="text" formControlName="mcr76"></td>
          <td><input type="text" formControlName="mechPort76"></td>
          <td><input type="text" formControlName="mechStbd76"></td>
        </tr>
        <tr>
          <td>25°</td>
          <td><input type="text" formControlName="bridgeEnclosed77"></td>
          <td><input type="text" formControlName="analogAsp77"></td>
          <td><input type="text" formControlName="wheelHouse77"></td>
          <td><input type="text" formControlName="mcr77"></td>
          <td><input type="text" formControlName="mechPort77"></td>
          <td><input type="text" formControlName="mechStbd77"></td>
        </tr>
        <tr>
          <td>30°</td>
          <td><input type="text" formControlName="bridgeEnclosed78"></td>
          <td><input type="text" formControlName="analogAsp78"></td>
          <td><input type="text" formControlName="wheelHouse78"></td>
          <td><input type="text" formControlName="mcr78"></td>
          <td><input type="text" formControlName="mechPort78"></td>
          <td><input type="text" formControlName="mechStbd78"></td>
        </tr>
        <tr>
          <td>35°</td>
          <td><input type="text" formControlName="bridgeEnclosed79"></td>
          <td><input type="text" formControlName="analogAsp79"></td>
          <td><input type="text" formControlName="wheelHouse79"></td>
          <td><input type="text" formControlName="mcr79"></td>
          <td><input type="text" formControlName="mechPort79"></td>
          <td><input type="text" formControlName="mechStbd79"></td>
        </tr>
        <tr>
          <td>30°</td>
          <td><input type="text" formControlName="bridgeEnclosed80"></td>
          <td><input type="text" formControlName="analogAsp80"></td>
          <td><input type="text" formControlName="wheelHouse80"></td>
          <td><input type="text" formControlName="mcr80"></td>
          <td><input type="text" formControlName="mechPort80"></td>
          <td><input type="text" formControlName="mechStbd80"></td>
        </tr>
        <tr>
          <td>25°</td>
          <td><input type="text" formControlName="bridgeEnclosed81"></td>
          <td><input type="text" formControlName="analogAsp81"></td>
          <td><input type="text" formControlName="wheelHouse81"></td>
          <td><input type="text" formControlName="mcr81"></td>
          <td><input type="text" formControlName="mechPort81"></td>
          <td><input type="text" formControlName="mechStbd81"></td>
        </tr>
        <tr>
          <td>20°</td>
          <td><input type="text" formControlName="bridgeEnclosed82"></td>
          <td><input type="text" formControlName="analogAsp82"></td>
          <td><input type="text" formControlName="wheelHouse82"></td>
          <td><input type="text" formControlName="mcr82"></td>
          <td><input type="text" formControlName="mechPort82"></td>
          <td><input type="text" formControlName="mechStbd82"></td>
        </tr>
        <tr>
      <td>15°</td>
      <td><input type="text" formControlName="bridgeEnclosed83" /></td>
      <td><input type="text" formControlName="analogAsp83" /></td>
      <td><input type="text" formControlName="wheelHouse83" /></td>
      <td><input type="text" formControlName="mcr83" /></td>
      <td><input type="text" formControlName="mechPort83" /></td>
      <td><input type="text" formControlName="mechStbd83" /></td>
    </tr>
    <tr>
      <td>10°</td>
      <td><input type="text" formControlName="bridgeEnclosed84" /></td>
      <td><input type="text" formControlName="analogAsp84" /></td>
      <td><input type="text" formControlName="wheelHouse84" /></td>
      <td><input type="text" formControlName="mcr84" /></td>
      <td><input type="text" formControlName="mechPort84" /></td>
      <td><input type="text" formControlName="mechStbd84" /></td>
    </tr>
    <tr>
      <td>5°</td>
      <td><input type="text" formControlName="bridgeEnclosed85" /></td>
      <td><input type="text" formControlName="analogAsp85" /></td>
      <td><input type="text" formControlName="wheelHouse85" /></td>
      <td><input type="text" formControlName="mcr85" /></td>
      <td><input type="text" formControlName="mechPort85" /></td>
      <td><input type="text" formControlName="mechStbd85" /></td>
    </tr>
    <tr>
      <td>MIDSHIP</td>
      <td><input type="text" formControlName="bridgeEnclosed86" /></td>
      <td><input type="text" formControlName="analogAsp86" /></td>
      <td><input type="text" formControlName="wheelHouse86" /></td>
      <td><input type="text" formControlName="mcr86" /></td>
      <td><input type="text" formControlName="mechPort86" /></td>
      <td><input type="text" formControlName="mechStbd86" /></td>
    </tr>
  </table>
</form>
</div>


<div class="table-section">
<form [formGroup]="BridgeStbdNFUForm">
  <h4 class="sub-heading">(b)	Operating Position- Bridge with Stbd Pump (NFU)</h4>
  <!-- You can reuse this table structure for other headings too -->
  <table>
    <tr>
      <th rowspan="2">Helm applied</th>
      <th rowspan="2">Bridge Enclosed</th>
      <th rowspan="2">Analog ASP</th>
      <th rowspan="2">Wheel House</th>
      <th rowspan="2">MCR</th>
      <th colspan="2">Mechanical Indicator (ASP)</th>
    </tr>
    <tr>
      <th>P</th>
      <th>S</th>
    </tr>

    <tr>
      <td>MIDSHIP</td>
      <td><input type="text" formControlName="bridgeEnclosed87" /></td>
      <td><input type="text" formControlName="analogAsp87" /></td>
      <td><input type="text" formControlName="wheelHouse87" /></td>
      <td><input type="text" formControlName="mcr87" /></td>
      <td><input type="text" formControlName="mechPort87" /></td>
      <td><input type="text" formControlName="mechStbd87" /></td>
    </tr>

    <tr>
      <td>5° PORT</td>
      <td><input type="text" formControlName="bridgeEnclosed88" /></td>
      <td><input type="text" formControlName="analogAsp88" /></td>
      <td><input type="text" formControlName="wheelHouse88" /></td>
      <td><input type="text" formControlName="mcr88" /></td>
      <td><input type="text" formControlName="mechPort88" /></td>
      <td><input type="text" formControlName="mechStbd88" /></td>
    </tr>

    <tr>
      <td>10°</td>
      <td><input type="text" formControlName="bridgeEnclosed89" /></td>
      <td><input type="text" formControlName="analogAsp89" /></td>
      <td><input type="text" formControlName="wheelHouse89" /></td>
      <td><input type="text" formControlName="mcr89" /></td>
      <td><input type="text" formControlName="mechPort89" /></td>
      <td><input type="text" formControlName="mechStbd89" /></td>
    </tr>

    <tr>
      <td>15°</td>
      <td><input type="text" formControlName="bridgeEnclosed90" /></td>
      <td><input type="text" formControlName="analogAsp90" /></td>
      <td><input type="text" formControlName="wheelHouse90" /></td>
      <td><input type="text" formControlName="mcr90" /></td>
      <td><input type="text" formControlName="mechPort90" /></td>
      <td><input type="text" formControlName="mechStbd90" /></td>
    </tr>
    <!-- 20° -->
        <tr>
          <td>20°</td>
          <td><input type="text" formControlName="bridgeEnclosed91"></td>
          <td><input type="text" formControlName="analogAsp91"></td>
          <td><input type="text" formControlName="wheelHouse91"></td>
          <td><input type="text" formControlName="mcr91"></td>
          <td><input type="text" formControlName="mechPort91"></td>
          <td><input type="text" formControlName="mechStbd91"></td>
        </tr>
        <tr>
          <td>25°</td>
          <td><input type="text" formControlName="bridgeEnclosed92"></td>
          <td><input type="text" formControlName="analogAsp92"></td>
          <td><input type="text" formControlName="wheelHouse92"></td>
          <td><input type="text" formControlName="mcr92"></td>
          <td><input type="text" formControlName="mechPort92"></td>
          <td><input type="text" formControlName="mechStbd92"></td>
        </tr>
        <tr>
          <td>30°</td>
          <td><input type="text" formControlName="bridgeEnclosed93"></td>
          <td><input type="text" formControlName="analogAsp93"></td>
          <td><input type="text" formControlName="wheelHouse93"></td>
          <td><input type="text" formControlName="mcr93"></td>
          <td><input type="text" formControlName="mechPort93"></td>
          <td><input type="text" formControlName="mechStbd93"></td>
        </tr>
        <tr>
          <td>35°</td>
          <td><input type="text" formControlName="bridgeEnclosed94"></td>
          <td><input type="text" formControlName="analogAsp94"></td>
          <td><input type="text" formControlName="wheelHouse94"></td>
          <td><input type="text" formControlName="mcr94"></td>
          <td><input type="text" formControlName="mechPort94"></td>
          <td><input type="text" formControlName="mechStbd94"></td>
        </tr>
        <tr>
          <td>30°</td>
          <td><input type="text" formControlName="bridgeEnclosed95"></td>
          <td><input type="text" formControlName="analogAsp95"></td>
          <td><input type="text" formControlName="wheelHouse95"></td>
          <td><input type="text" formControlName="mcr95"></td>
          <td><input type="text" formControlName="mechPort95"></td>
          <td><input type="text" formControlName="mechStbd95"></td>
        </tr>
        <tr>
          <td>25°</td>
          <td><input type="text" formControlName="bridgeEnclosed96"></td>
          <td><input type="text" formControlName="analogAsp96"></td>
          <td><input type="text" formControlName="wheelHouse96"></td>
          <td><input type="text" formControlName="mcr96"></td>
          <td><input type="text" formControlName="mechPort96"></td>
          <td><input type="text" formControlName="mechStbd96"></td>
        </tr>
        <tr>
          <td>20°</td>
          <td><input type="text" formControlName="bridgeEnclosed97"></td>
          <td><input type="text" formControlName="analogAsp97"></td>
          <td><input type="text" formControlName="wheelHouse97"></td>
          <td><input type="text" formControlName="mcr97"></td>
          <td><input type="text" formControlName="mechPort97"></td>
          <td><input type="text" formControlName="mechStbd97"></td>
        </tr>
        <tr>
      <td>15°</td>
      <td><input type="text" formControlName="bridgeEnclosed98" /></td>
      <td><input type="text" formControlName="analogAsp98" /></td>
      <td><input type="text" formControlName="wheelHouse98" /></td>
      <td><input type="text" formControlName="mcr98" /></td>
      <td><input type="text" formControlName="mechPort98" /></td>
      <td><input type="text" formControlName="mechStbd98" /></td>
    </tr>
    <tr>
      <td>10°</td>
      <td><input type="text" formControlName="bridgeEnclosed99" /></td>
      <td><input type="text" formControlName="analogAsp99" /></td>
      <td><input type="text" formControlName="wheelHouse99" /></td>
      <td><input type="text" formControlName="mcr99" /></td>
      <td><input type="text" formControlName="mechPort99" /></td>
      <td><input type="text" formControlName="mechStbd99" /></td>
    </tr>
    <tr>
      <td>5°</td>
      <td><input type="text" formControlName="bridgeEnclosed100" /></td>
      <td><input type="text" formControlName="analogAsp100" /></td>
      <td><input type="text" formControlName="wheelHouse100" /></td>
      <td><input type="text" formControlName="mcr100" /></td>
      <td><input type="text" formControlName="mechPort100" /></td>
      <td><input type="text" formControlName="mechStbd100" /></td>
    </tr>

    <tr>
      <td>MIDSHIP</td>
      <td><input type="text" formControlName="bridgeEnclosed101" /></td>
      <td><input type="text" formControlName="analogAsp101" /></td>
      <td><input type="text" formControlName="wheelHouse101" /></td>
      <td><input type="text" formControlName="mcr101" /></td>
      <td><input type="text" formControlName="mechPort101" /></td>
      <td><input type="text" formControlName="mechStbd101" /></td>
    </tr>

    <tr>
      <td>5° STBD</td>
      <td><input type="text" formControlName="bridgeEnclosed102" /></td>
      <td><input type="text" formControlName="analogAsp102" /></td>
      <td><input type="text" formControlName="wheelHouse102" /></td>
      <td><input type="text" formControlName="mcr102" /></td>
      <td><input type="text" formControlName="mechPort102" /></td>
      <td><input type="text" formControlName="mechStbd102" /></td>
    </tr>

    <tr>
      <td>10°</td>
      <td><input type="text" formControlName="bridgeEnclosed103" /></td>
      <td><input type="text" formControlName="analogAsp103" /></td>
      <td><input type="text" formControlName="wheelHouse103" /></td>
      <td><input type="text" formControlName="mcr103" /></td>
      <td><input type="text" formControlName="mechPort103" /></td>
      <td><input type="text" formControlName="mechStbd103" /></td>
    </tr>

    <tr>
      <td>15°</td>
      <td><input type="text" formControlName="bridgeEnclosed104" /></td>
      <td><input type="text" formControlName="analogAsp104" /></td>
      <td><input type="text" formControlName="wheelHouse104" /></td>
      <td><input type="text" formControlName="mcr104" /></td>
      <td><input type="text" formControlName="mechPort104" /></td>
      <td><input type="text" formControlName="mechStbd104" /></td>
    </tr>
    <!-- 20° -->
        <tr>
          <td>20°</td>
          <td><input type="text" formControlName="bridgeEnclosed105"></td>
          <td><input type="text" formControlName="analogAsp105"></td>
          <td><input type="text" formControlName="wheelHouse105"></td>
          <td><input type="text" formControlName="mcr105"></td>
          <td><input type="text" formControlName="mechPort105"></td>
          <td><input type="text" formControlName="mechStbd105"></td>
        </tr>
        <tr>
          <td>25°</td>
          <td><input type="text" formControlName="bridgeEnclosed106"></td>
          <td><input type="text" formControlName="analogAsp106"></td>
          <td><input type="text" formControlName="wheelHouse106"></td>
          <td><input type="text" formControlName="mcr106"></td>
          <td><input type="text" formControlName="mechPort106"></td>
          <td><input type="text" formControlName="mechStbd106"></td>
        </tr>
        <tr>
          <td>30°</td>
          <td><input type="text" formControlName="bridgeEnclosed107"></td>
          <td><input type="text" formControlName="analogAsp107"></td>
          <td><input type="text" formControlName="wheelHouse107"></td>
          <td><input type="text" formControlName="mcr107"></td>
          <td><input type="text" formControlName="mechPort107"></td>
          <td><input type="text" formControlName="mechStbd107"></td>
        </tr>
        <tr>
          <td>35°</td>
          <td><input type="text" formControlName="bridgeEnclosed108"></td>
          <td><input type="text" formControlName="analogAsp108"></td>
          <td><input type="text" formControlName="wheelHouse108"></td>
          <td><input type="text" formControlName="mcr108"></td>
          <td><input type="text" formControlName="mechPort108"></td>
          <td><input type="text" formControlName="mechStbd108"></td>
        </tr>
        <tr>
          <td>30°</td>
          <td><input type="text" formControlName="bridgeEnclosed109"></td>
          <td><input type="text" formControlName="analogAsp109"></td>
          <td><input type="text" formControlName="wheelHouse109"></td>
          <td><input type="text" formControlName="mcr109"></td>
          <td><input type="text" formControlName="mechPort109"></td>
          <td><input type="text" formControlName="mechStbd109"></td>
        </tr>
        <tr>
          <td>25°</td>
          <td><input type="text" formControlName="bridgeEnclosed110"></td>
          <td><input type="text" formControlName="analogAsp110"></td>
          <td><input type="text" formControlName="wheelHouse110"></td>
          <td><input type="text" formControlName="mcr110"></td>
          <td><input type="text" formControlName="mechPort110"></td>
          <td><input type="text" formControlName="mechStbd110"></td>
        </tr>
        <tr>
          <td>20°</td>
          <td><input type="text" formControlName="bridgeEnclosed111"></td>
          <td><input type="text" formControlName="analogAsp111"></td>
          <td><input type="text" formControlName="wheelHouse111"></td>
          <td><input type="text" formControlName="mcr111"></td>
          <td><input type="text" formControlName="mechPort111"></td>
          <td><input type="text" formControlName="mechStbd111"></td>
        </tr>
        <tr>
      <td>15°</td>
      <td><input type="text" formControlName="bridgeEnclosed112" /></td>
      <td><input type="text" formControlName="analogAsp112" /></td>
      <td><input type="text" formControlName="wheelHouse112" /></td>
      <td><input type="text" formControlName="mcr112" /></td>
      <td><input type="text" formControlName="mechPort112" /></td>
      <td><input type="text" formControlName="mechStbd112" /></td>
    </tr>
    <tr>
      <td>10°</td>
      <td><input type="text" formControlName="bridgeEnclosed113" /></td>
      <td><input type="text" formControlName="analogAsp113" /></td>
      <td><input type="text" formControlName="wheelHouse113" /></td>
      <td><input type="text" formControlName="mcr113" /></td>
      <td><input type="text" formControlName="mechPort113" /></td>
      <td><input type="text" formControlName="mechStbd113" /></td>
    </tr>
    <tr>
      <td>5°</td>
      <td><input type="text" formControlName="bridgeEnclosed114" /></td>
      <td><input type="text" formControlName="analogAsp114" /></td>
      <td><input type="text" formControlName="wheelHouse114" /></td>
      <td><input type="text" formControlName="mcr114" /></td>
      <td><input type="text" formControlName="mechPort114" /></td>
      <td><input type="text" formControlName="mechStbd114" /></td>
    </tr>
    <tr>
      <td>MIDSHIP</td>
      <td><input type="text" formControlName="bridgeEnclosed115" /></td>
      <td><input type="text" formControlName="analogAsp115" /></td>
      <td><input type="text" formControlName="wheelHouse115" /></td>
      <td><input type="text" formControlName="mcr115" /></td>
      <td><input type="text" formControlName="mechPort115" /></td>
      <td><input type="text" formControlName="mechStbd115" /></td>
    </tr>
  </table>
</form>
</div>

<div class="table-section">
<form [formGroup]="emergencySteeringForm">
  <p><strong><u>Steering Timings by Emergency Hand Steering Wheel:</u></strong></p>
  <table border="1">
    <thead>
      <tr>
        <th>Sequence</th>
        <th>0° – 10° Port</th>
        <th>10° Port – 10° Stbd</th>
        <th>10° Stbd – 0°</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>No. of turns</td>
        <td><input formControlName="zeroToTenPort116" type="text"></td>
        <td><input formControlName="tenPortToTenStbd116" type="text"></td>
        <td><input formControlName="tenStbdToZero116" type="text"></td>
      </tr>
    </tbody>
  </table>
</form>
</div>