

<!-- 3.	Positional Checks -Steering Gear Harbour Trials in Non-Follow up mode    -->
<h3 class="main-heading">3.	Positional Checks -Steering Gear Harbour Trials in Non-Follow up mode   </h3>
<div class="table-section">
<form [formGroup]="WheelPortNFUForm">
  <h4 class="sub-heading">(a)	Operating Position - Wheel house with Port Pump (NFU)</h4>
  <!-- You can reuse this table structure for other headings too -->
  <table>
    <tr>
      <th rowspan="2">Helm applied</th>
      <th rowspan="2">Bridge Enclosed</th>
      <th rowspan="2">Analog ASP</th>
      <th rowspan="2">Wheel House</th>
      <th rowspan="2">MCR</th>
      <th colspan="2">Mechanical Indicator (ASP)</th>
    </tr>
    <tr>
      <th>P</th>
      <th>S</th>
    </tr>

    <tr>
      <td>MIDSHIP</td>
      <td><input type="text" formControlName="bridgeEnclosed0" /></td>
      <td><input type="text" formControlName="analogAsp0" /></td>
      <td><input type="text" formControlName="wheelHouse0" /></td>
      <td><input type="text" formControlName="mcr0" /></td>
      <td><input type="text" formControlName="mechPort0" /></td>
      <td><input type="text" formControlName="mechStbd0" /></td>
    </tr>

    <tr>
      <td>5° PORT</td>
      <td><input type="text" formControlName="bridgeEnclosed1" /></td>
      <td><input type="text" formControlName="analogAsp1" /></td>
      <td><input type="text" formControlName="wheelHouse1" /></td>
      <td><input type="text" formControlName="mcr1" /></td>
      <td><input type="text" formControlName="mechPort1" /></td>
      <td><input type="text" formControlName="mechStbd1" /></td>
    </tr>

    <tr>
      <td>10°</td>
      <td><input type="text" formControlName="bridgeEnclosed2" /></td>
      <td><input type="text" formControlName="analogAsp2" /></td>
      <td><input type="text" formControlName="wheelHouse2" /></td>
      <td><input type="text" formControlName="mcr2" /></td>
      <td><input type="text" formControlName="mechPort2" /></td>
      <td><input type="text" formControlName="mechStbd2" /></td>
    </tr>

    <tr>
      <td>15°</td>
      <td><input type="text" formControlName="bridgeEnclosed3" /></td>
      <td><input type="text" formControlName="analogAsp3" /></td>
      <td><input type="text" formControlName="wheelHouse3" /></td>
      <td><input type="text" formControlName="mcr3" /></td>
      <td><input type="text" formControlName="mechPort3" /></td>
      <td><input type="text" formControlName="mechStbd3" /></td>
    </tr>
    <!-- 20° -->
        <tr>
          <td>20°</td>
          <td><input type="text" formControlName="bridgeEnclosed4"></td>
          <td><input type="text" formControlName="analogAsp4"></td>
          <td><input type="text" formControlName="wheelHouse4"></td>
          <td><input type="text" formControlName="mcr4"></td>
          <td><input type="text" formControlName="mechPort4"></td>
          <td><input type="text" formControlName="mechStbd4"></td>
        </tr>
        <tr>
          <td>25°</td>
          <td><input type="text" formControlName="bridgeEnclosed5"></td>
          <td><input type="text" formControlName="analogAsp5"></td>
          <td><input type="text" formControlName="wheelHouse5"></td>
          <td><input type="text" formControlName="mcr5"></td>
          <td><input type="text" formControlName="mechPort5"></td>
          <td><input type="text" formControlName="mechStbd5"></td>
        </tr>
        <tr>
          <td>30°</td>
          <td><input type="text" formControlName="bridgeEnclosed6"></td>
          <td><input type="text" formControlName="analogAsp6"></td>
          <td><input type="text" formControlName="wheelHouse6"></td>
          <td><input type="text" formControlName="mcr6"></td>
          <td><input type="text" formControlName="mechPort6"></td>
          <td><input type="text" formControlName="mechStbd6"></td>
        </tr>
        <tr>
          <td>35°</td>
          <td><input type="text" formControlName="bridgeEnclosed7"></td>
          <td><input type="text" formControlName="analogAsp7"></td>
          <td><input type="text" formControlName="wheelHouse7"></td>
          <td><input type="text" formControlName="mcr7"></td>
          <td><input type="text" formControlName="mechPort7"></td>
          <td><input type="text" formControlName="mechStbd7"></td>
        </tr>
        <tr>
          <td>30°</td>
          <td><input type="text" formControlName="bridgeEnclosed8"></td>
          <td><input type="text" formControlName="analogAsp8"></td>
          <td><input type="text" formControlName="wheelHouse8"></td>
          <td><input type="text" formControlName="mcr8"></td>
          <td><input type="text" formControlName="mechPort8"></td>
          <td><input type="text" formControlName="mechStbd8"></td>
        </tr>
        <tr>
          <td>25°</td>
          <td><input type="text" formControlName="bridgeEnclosed9"></td>
          <td><input type="text" formControlName="analogAsp9"></td>
          <td><input type="text" formControlName="wheelHouse9"></td>
          <td><input type="text" formControlName="mcr9"></td>
          <td><input type="text" formControlName="mechPort9"></td>
          <td><input type="text" formControlName="mechStbd9"></td>
        </tr>
        <tr>
          <td>20°</td>
          <td><input type="text" formControlName="bridgeEnclosed10"></td>
          <td><input type="text" formControlName="analogAsp10"></td>
          <td><input type="text" formControlName="wheelHouse10"></td>
          <td><input type="text" formControlName="mcr10"></td>
          <td><input type="text" formControlName="mechPort10"></td>
          <td><input type="text" formControlName="mechStbd10"></td>
        </tr>
        <tr>
      <td>15°</td>
      <td><input type="text" formControlName="bridgeEnclosed11" /></td>
      <td><input type="text" formControlName="analogAsp11" /></td>
      <td><input type="text" formControlName="wheelHouse11" /></td>
      <td><input type="text" formControlName="mcr11" /></td>
      <td><input type="text" formControlName="mechPort11" /></td>
      <td><input type="text" formControlName="mechStbd11" /></td>
    </tr>
    <tr>
      <td>10°</td>
      <td><input type="text" formControlName="bridgeEnclosed12" /></td>
      <td><input type="text" formControlName="analogAsp12" /></td>
      <td><input type="text" formControlName="wheelHouse12" /></td>
      <td><input type="text" formControlName="mcr12" /></td>
      <td><input type="text" formControlName="mechPort12" /></td>
      <td><input type="text" formControlName="mechStbd12" /></td>
    </tr>
    <tr>
      <td>5°</td>
      <td><input type="text" formControlName="bridgeEnclosed13" /></td>
      <td><input type="text" formControlName="analogAsp13" /></td>
      <td><input type="text" formControlName="wheelHouse13" /></td>
      <td><input type="text" formControlName="mcr13" /></td>
      <td><input type="text" formControlName="mechPort13" /></td>
      <td><input type="text" formControlName="mechStbd13" /></td>
    </tr>

    <tr>
      <td>MIDSHIP</td>
      <td><input type="text" formControlName="bridgeEnclosed14" /></td>
      <td><input type="text" formControlName="analogAsp14" /></td>
      <td><input type="text" formControlName="wheelHouse14" /></td>
      <td><input type="text" formControlName="mcr14" /></td>
      <td><input type="text" formControlName="mechPort14" /></td>
      <td><input type="text" formControlName="mechStbd14" /></td>
    </tr>

    <tr>
      <td>5° STBD</td>
      <td><input type="text" formControlName="bridgeEnclosed15" /></td>
      <td><input type="text" formControlName="analogAsp15" /></td>
      <td><input type="text" formControlName="wheelHouse15" /></td>
      <td><input type="text" formControlName="mcr15" /></td>
      <td><input type="text" formControlName="mechPort15" /></td>
      <td><input type="text" formControlName="mechStbd15" /></td>
    </tr>

    <tr>
      <td>10°</td>
      <td><input type="text" formControlName="bridgeEnclosed16" /></td>
      <td><input type="text" formControlName="analogAsp16" /></td>
      <td><input type="text" formControlName="wheelHouse16" /></td>
      <td><input type="text" formControlName="mcr16" /></td>
      <td><input type="text" formControlName="mechPort16" /></td>
      <td><input type="text" formControlName="mechStbd16" /></td>
    </tr>

    <tr>
      <td>15°</td>
      <td><input type="text" formControlName="bridgeEnclosed17" /></td>
      <td><input type="text" formControlName="analogAsp17" /></td>
      <td><input type="text" formControlName="wheelHouse17" /></td>
      <td><input type="text" formControlName="mcr17" /></td>
      <td><input type="text" formControlName="mechPort17" /></td>
      <td><input type="text" formControlName="mechStbd17" /></td>
    </tr>
    <!-- 20° -->
        <tr>
          <td>20°</td>
          <td><input type="text" formControlName="bridgeEnclosed18"></td>
          <td><input type="text" formControlName="analogAsp18"></td>
          <td><input type="text" formControlName="wheelHouse18"></td>
          <td><input type="text" formControlName="mcr18"></td>
          <td><input type="text" formControlName="mechPort18"></td>
          <td><input type="text" formControlName="mechStbd18"></td>
        </tr>
        <tr>
          <td>25°</td>
          <td><input type="text" formControlName="bridgeEnclosed19"></td>
          <td><input type="text" formControlName="analogAsp19"></td>
          <td><input type="text" formControlName="wheelHouse19"></td>
          <td><input type="text" formControlName="mcr19"></td>
          <td><input type="text" formControlName="mechPort19"></td>
          <td><input type="text" formControlName="mechStbd19"></td>
        </tr>
        <tr>
          <td>30°</td>
          <td><input type="text" formControlName="bridgeEnclosed20"></td>
          <td><input type="text" formControlName="analogAsp20"></td>
          <td><input type="text" formControlName="wheelHouse20"></td>
          <td><input type="text" formControlName="mcr20"></td>
          <td><input type="text" formControlName="mechPort20"></td>
          <td><input type="text" formControlName="mechStbd20"></td>
        </tr>
        <tr>
          <td>35°</td>
          <td><input type="text" formControlName="bridgeEnclosed21"></td>
          <td><input type="text" formControlName="analogAsp21"></td>
          <td><input type="text" formControlName="wheelHouse21"></td>
          <td><input type="text" formControlName="mcr21"></td>
          <td><input type="text" formControlName="mechPort21"></td>
          <td><input type="text" formControlName="mechStbd21"></td>
        </tr>
        <tr>
          <td>30°</td>
          <td><input type="text" formControlName="bridgeEnclosed22"></td>
          <td><input type="text" formControlName="analogAsp22"></td>
          <td><input type="text" formControlName="wheelHouse22"></td>
          <td><input type="text" formControlName="mcr22"></td>
          <td><input type="text" formControlName="mechPort22"></td>
          <td><input type="text" formControlName="mechStbd22"></td>
        </tr>
        <tr>
          <td>25°</td>
          <td><input type="text" formControlName="bridgeEnclosed23"></td>
          <td><input type="text" formControlName="analogAsp23"></td>
          <td><input type="text" formControlName="wheelHouse23"></td>
          <td><input type="text" formControlName="mcr23"></td>
          <td><input type="text" formControlName="mechPort23"></td>
          <td><input type="text" formControlName="mechStbd23"></td>
        </tr>
        <tr>
          <td>20°</td>
          <td><input type="text" formControlName="bridgeEnclosed24"></td>
          <td><input type="text" formControlName="analogAsp24"></td>
          <td><input type="text" formControlName="wheelHouse24"></td>
          <td><input type="text" formControlName="mcr24"></td>
          <td><input type="text" formControlName="mechPort24"></td>
          <td><input type="text" formControlName="mechStbd24"></td>
        </tr>
        <tr>
      <td>15°</td>
      <td><input type="text" formControlName="bridgeEnclosed25" /></td>
      <td><input type="text" formControlName="analogAsp25" /></td>
      <td><input type="text" formControlName="wheelHouse25" /></td>
      <td><input type="text" formControlName="mcr25" /></td>
      <td><input type="text" formControlName="mechPort25" /></td>
      <td><input type="text" formControlName="mechStbd25" /></td>
    </tr>
    <tr>
      <td>10°</td>
      <td><input type="text" formControlName="bridgeEnclosed26" /></td>
      <td><input type="text" formControlName="analogAsp26" /></td>
      <td><input type="text" formControlName="wheelHouse26" /></td>
      <td><input type="text" formControlName="mcr26" /></td>
      <td><input type="text" formControlName="mechPort26" /></td>
      <td><input type="text" formControlName="mechStbd26" /></td>
    </tr>
    <tr>
      <td>5°</td>
      <td><input type="text" formControlName="bridgeEnclosed27" /></td>
      <td><input type="text" formControlName="analogAsp27" /></td>
      <td><input type="text" formControlName="wheelHouse27" /></td>
      <td><input type="text" formControlName="mcr27" /></td>
      <td><input type="text" formControlName="mechPort27" /></td>
      <td><input type="text" formControlName="mechStbd27" /></td>
    </tr>
    <tr>
      <td>MIDSHIP</td>
      <td><input type="text" formControlName="bridgeEnclosed28" /></td>
      <td><input type="text" formControlName="analogAsp28" /></td>
      <td><input type="text" formControlName="wheelHouse28" /></td>
      <td><input type="text" formControlName="mcr28" /></td>
      <td><input type="text" formControlName="mechPort28" /></td>
      <td><input type="text" formControlName="mechStbd28" /></td>
    </tr>
  </table>
</form>
</div>


<div class="table-section">
<form [formGroup]="WheelStbdNFUForm">
  <h4 class="sub-heading">(b)	Operating Position- Bridge with Stbd Pump (NFU)</h4>
  <!-- You can reuse this table structure for other headings too -->
  <table>
    <tr>
      <th rowspan="2">Helm applied</th>
      <th rowspan="2">Bridge Enclosed</th>
      <th rowspan="2">Analog ASP</th>
      <th rowspan="2">Wheel House</th>
      <th rowspan="2">MCR</th>
      <th colspan="2">Mechanical Indicator (ASP)</th>
    </tr>
    <tr>
      <th>P</th>
      <th>S</th>
    </tr>

    <tr>
      <td>MIDSHIP</td>
      <td><input type="text" formControlName="bridgeEnclosed0" /></td>
      <td><input type="text" formControlName="analogAsp0" /></td>
      <td><input type="text" formControlName="wheelHouse0" /></td>
      <td><input type="text" formControlName="mcr0" /></td>
      <td><input type="text" formControlName="mechPort0" /></td>
      <td><input type="text" formControlName="mechStbd0" /></td>
    </tr>

    <tr>
      <td>5° PORT</td>
      <td><input type="text" formControlName="bridgeEnclosed1" /></td>
      <td><input type="text" formControlName="analogAsp1" /></td>
      <td><input type="text" formControlName="wheelHouse1" /></td>
      <td><input type="text" formControlName="mcr1" /></td>
      <td><input type="text" formControlName="mechPort1" /></td>
      <td><input type="text" formControlName="mechStbd1" /></td>
    </tr>

    <tr>
      <td>10°</td>
      <td><input type="text" formControlName="bridgeEnclosed2" /></td>
      <td><input type="text" formControlName="analogAsp2" /></td>
      <td><input type="text" formControlName="wheelHouse2" /></td>
      <td><input type="text" formControlName="mcr2" /></td>
      <td><input type="text" formControlName="mechPort2" /></td>
      <td><input type="text" formControlName="mechStbd2" /></td>
    </tr>

    <tr>
      <td>15°</td>
      <td><input type="text" formControlName="bridgeEnclosed3" /></td>
      <td><input type="text" formControlName="analogAsp3" /></td>
      <td><input type="text" formControlName="wheelHouse3" /></td>
      <td><input type="text" formControlName="mcr3" /></td>
      <td><input type="text" formControlName="mechPort3" /></td>
      <td><input type="text" formControlName="mechStbd3" /></td>
    </tr>
    <!-- 20° -->
        <tr>
          <td>20°</td>
          <td><input type="text" formControlName="bridgeEnclosed4"></td>
          <td><input type="text" formControlName="analogAsp4"></td>
          <td><input type="text" formControlName="wheelHouse4"></td>
          <td><input type="text" formControlName="mcr4"></td>
          <td><input type="text" formControlName="mechPort4"></td>
          <td><input type="text" formControlName="mechStbd4"></td>
        </tr>
        <tr>
          <td>25°</td>
          <td><input type="text" formControlName="bridgeEnclosed5"></td>
          <td><input type="text" formControlName="analogAsp5"></td>
          <td><input type="text" formControlName="wheelHouse5"></td>
          <td><input type="text" formControlName="mcr5"></td>
          <td><input type="text" formControlName="mechPort5"></td>
          <td><input type="text" formControlName="mechStbd5"></td>
        </tr>
        <tr>
          <td>30°</td>
          <td><input type="text" formControlName="bridgeEnclosed6"></td>
          <td><input type="text" formControlName="analogAsp6"></td>
          <td><input type="text" formControlName="wheelHouse6"></td>
          <td><input type="text" formControlName="mcr6"></td>
          <td><input type="text" formControlName="mechPort6"></td>
          <td><input type="text" formControlName="mechStbd6"></td>
        </tr>
        <tr>
          <td>35°</td>
          <td><input type="text" formControlName="bridgeEnclosed7"></td>
          <td><input type="text" formControlName="analogAsp7"></td>
          <td><input type="text" formControlName="wheelHouse7"></td>
          <td><input type="text" formControlName="mcr7"></td>
          <td><input type="text" formControlName="mechPort7"></td>
          <td><input type="text" formControlName="mechStbd7"></td>
        </tr>
        <tr>
          <td>30°</td>
          <td><input type="text" formControlName="bridgeEnclosed8"></td>
          <td><input type="text" formControlName="analogAsp8"></td>
          <td><input type="text" formControlName="wheelHouse8"></td>
          <td><input type="text" formControlName="mcr8"></td>
          <td><input type="text" formControlName="mechPort8"></td>
          <td><input type="text" formControlName="mechStbd8"></td>
        </tr>
        <tr>
          <td>25°</td>
          <td><input type="text" formControlName="bridgeEnclosed9"></td>
          <td><input type="text" formControlName="analogAsp9"></td>
          <td><input type="text" formControlName="wheelHouse9"></td>
          <td><input type="text" formControlName="mcr9"></td>
          <td><input type="text" formControlName="mechPort9"></td>
          <td><input type="text" formControlName="mechStbd9"></td>
        </tr>
        <tr>
          <td>20°</td>
          <td><input type="text" formControlName="bridgeEnclosed10"></td>
          <td><input type="text" formControlName="analogAsp10"></td>
          <td><input type="text" formControlName="wheelHouse10"></td>
          <td><input type="text" formControlName="mcr10"></td>
          <td><input type="text" formControlName="mechPort10"></td>
          <td><input type="text" formControlName="mechStbd10"></td>
        </tr>
        <tr>
      <td>15°</td>
      <td><input type="text" formControlName="bridgeEnclosed11" /></td>
      <td><input type="text" formControlName="analogAsp11" /></td>
      <td><input type="text" formControlName="wheelHouse11" /></td>
      <td><input type="text" formControlName="mcr11" /></td>
      <td><input type="text" formControlName="mechPort11" /></td>
      <td><input type="text" formControlName="mechStbd11" /></td>
    </tr>
    <tr>
      <td>10°</td>
      <td><input type="text" formControlName="bridgeEnclosed12" /></td>
      <td><input type="text" formControlName="analogAsp12" /></td>
      <td><input type="text" formControlName="wheelHouse12" /></td>
      <td><input type="text" formControlName="mcr12" /></td>
      <td><input type="text" formControlName="mechPort12" /></td>
      <td><input type="text" formControlName="mechStbd12" /></td>
    </tr>
    <tr>
      <td>5°</td>
      <td><input type="text" formControlName="bridgeEnclosed13" /></td>
      <td><input type="text" formControlName="analogAsp13" /></td>
      <td><input type="text" formControlName="wheelHouse13" /></td>
      <td><input type="text" formControlName="mcr13" /></td>
      <td><input type="text" formControlName="mechPort13" /></td>
      <td><input type="text" formControlName="mechStbd13" /></td>
    </tr>

    <tr>
      <td>MIDSHIP</td>
      <td><input type="text" formControlName="bridgeEnclosed14" /></td>
      <td><input type="text" formControlName="analogAsp14" /></td>
      <td><input type="text" formControlName="wheelHouse14" /></td>
      <td><input type="text" formControlName="mcr14" /></td>
      <td><input type="text" formControlName="mechPort14" /></td>
      <td><input type="text" formControlName="mechStbd14" /></td>
    </tr>

    <tr>
      <td>5° STBD</td>
      <td><input type="text" formControlName="bridgeEnclosed15" /></td>
      <td><input type="text" formControlName="analogAsp15" /></td>
      <td><input type="text" formControlName="wheelHouse15" /></td>
      <td><input type="text" formControlName="mcr15" /></td>
      <td><input type="text" formControlName="mechPort15" /></td>
      <td><input type="text" formControlName="mechStbd15" /></td>
    </tr>

    <tr>
      <td>10°</td>
      <td><input type="text" formControlName="bridgeEnclosed16" /></td>
      <td><input type="text" formControlName="analogAsp16" /></td>
      <td><input type="text" formControlName="wheelHouse16" /></td>
      <td><input type="text" formControlName="mcr16" /></td>
      <td><input type="text" formControlName="mechPort16" /></td>
      <td><input type="text" formControlName="mechStbd16" /></td>
    </tr>

    <tr>
      <td>15°</td>
      <td><input type="text" formControlName="bridgeEnclosed17" /></td>
      <td><input type="text" formControlName="analogAsp17" /></td>
      <td><input type="text" formControlName="wheelHouse17" /></td>
      <td><input type="text" formControlName="mcr17" /></td>
      <td><input type="text" formControlName="mechPort17" /></td>
      <td><input type="text" formControlName="mechStbd17" /></td>
    </tr>
    <!-- 20° -->
        <tr>
          <td>20°</td>
          <td><input type="text" formControlName="bridgeEnclosed18"></td>
          <td><input type="text" formControlName="analogAsp18"></td>
          <td><input type="text" formControlName="wheelHouse18"></td>
          <td><input type="text" formControlName="mcr18"></td>
          <td><input type="text" formControlName="mechPort18"></td>
          <td><input type="text" formControlName="mechStbd18"></td>
        </tr>
        <tr>
          <td>25°</td>
          <td><input type="text" formControlName="bridgeEnclosed19"></td>
          <td><input type="text" formControlName="analogAsp19"></td>
          <td><input type="text" formControlName="wheelHouse19"></td>
          <td><input type="text" formControlName="mcr19"></td>
          <td><input type="text" formControlName="mechPort19"></td>
          <td><input type="text" formControlName="mechStbd19"></td>
        </tr>
        <tr>
          <td>30°</td>
          <td><input type="text" formControlName="bridgeEnclosed20"></td>
          <td><input type="text" formControlName="analogAsp20"></td>
          <td><input type="text" formControlName="wheelHouse20"></td>
          <td><input type="text" formControlName="mcr20"></td>
          <td><input type="text" formControlName="mechPort20"></td>
          <td><input type="text" formControlName="mechStbd20"></td>
        </tr>
        <tr>
          <td>35°</td>
          <td><input type="text" formControlName="bridgeEnclosed21"></td>
          <td><input type="text" formControlName="analogAsp21"></td>
          <td><input type="text" formControlName="wheelHouse21"></td>
          <td><input type="text" formControlName="mcr21"></td>
          <td><input type="text" formControlName="mechPort21"></td>
          <td><input type="text" formControlName="mechStbd21"></td>
        </tr>
        <tr>
          <td>30°</td>
          <td><input type="text" formControlName="bridgeEnclosed22"></td>
          <td><input type="text" formControlName="analogAsp22"></td>
          <td><input type="text" formControlName="wheelHouse22"></td>
          <td><input type="text" formControlName="mcr22"></td>
          <td><input type="text" formControlName="mechPort22"></td>
          <td><input type="text" formControlName="mechStbd22"></td>
        </tr>
        <tr>
          <td>25°</td>
          <td><input type="text" formControlName="bridgeEnclosed23"></td>
          <td><input type="text" formControlName="analogAsp23"></td>
          <td><input type="text" formControlName="wheelHouse23"></td>
          <td><input type="text" formControlName="mcr23"></td>
          <td><input type="text" formControlName="mechPort23"></td>
          <td><input type="text" formControlName="mechStbd23"></td>
        </tr>
        <tr>
          <td>20°</td>
          <td><input type="text" formControlName="bridgeEnclosed24"></td>
          <td><input type="text" formControlName="analogAsp24"></td>
          <td><input type="text" formControlName="wheelHouse24"></td>
          <td><input type="text" formControlName="mcr24"></td>
          <td><input type="text" formControlName="mechPort24"></td>
          <td><input type="text" formControlName="mechStbd24"></td>
        </tr>
        <tr>
      <td>15°</td>
      <td><input type="text" formControlName="bridgeEnclosed25" /></td>
      <td><input type="text" formControlName="analogAsp25" /></td>
      <td><input type="text" formControlName="wheelHouse25" /></td>
      <td><input type="text" formControlName="mcr25" /></td>
      <td><input type="text" formControlName="mechPort25" /></td>
      <td><input type="text" formControlName="mechStbd25" /></td>
    </tr>
    <tr>
      <td>10°</td>
      <td><input type="text" formControlName="bridgeEnclosed26" /></td>
      <td><input type="text" formControlName="analogAsp26" /></td>
      <td><input type="text" formControlName="wheelHouse26" /></td>
      <td><input type="text" formControlName="mcr26" /></td>
      <td><input type="text" formControlName="mechPort26" /></td>
      <td><input type="text" formControlName="mechStbd26" /></td>
    </tr>
    <tr>
      <td>5°</td>
      <td><input type="text" formControlName="bridgeEnclosed27" /></td>
      <td><input type="text" formControlName="analogAsp27" /></td>
      <td><input type="text" formControlName="wheelHouse27" /></td>
      <td><input type="text" formControlName="mcr27" /></td>
      <td><input type="text" formControlName="mechPort27" /></td>
      <td><input type="text" formControlName="mechStbd27" /></td>
    </tr>
    <tr>
      <td>MIDSHIP</td>
      <td><input type="text" formControlName="bridgeEnclosed28" /></td>
      <td><input type="text" formControlName="analogAsp28" /></td>
      <td><input type="text" formControlName="wheelHouse28" /></td>
      <td><input type="text" formControlName="mcr28" /></td>
      <td><input type="text" formControlName="mechPort28" /></td>
      <td><input type="text" formControlName="mechStbd28" /></td>
    </tr>
  </table>
</form>
</div>



<div class="table-section">
<form [formGroup]="BridgePortNFUForm">
  <h4 class="sub-heading">(a)	Operating Position - Wheel house with Port Pump (NFU)</h4>
  <!-- You can reuse this table structure for other headings too -->
  <table>
    <tr>
      <th rowspan="2">Helm applied</th>
      <th rowspan="2">Bridge Enclosed</th>
      <th rowspan="2">Analog ASP</th>
      <th rowspan="2">Wheel House</th>
      <th rowspan="2">MCR</th>
      <th colspan="2">Mechanical Indicator (ASP)</th>
    </tr>
    <tr>
      <th>P</th>
      <th>S</th>
    </tr>

    <tr>
      <td>MIDSHIP</td>
      <td><input type="text" formControlName="bridgeEnclosed0" /></td>
      <td><input type="text" formControlName="analogAsp0" /></td>
      <td><input type="text" formControlName="wheelHouse0" /></td>
      <td><input type="text" formControlName="mcr0" /></td>
      <td><input type="text" formControlName="mechPort0" /></td>
      <td><input type="text" formControlName="mechStbd0" /></td>
    </tr>

    <tr>
      <td>5° PORT</td>
      <td><input type="text" formControlName="bridgeEnclosed1" /></td>
      <td><input type="text" formControlName="analogAsp1" /></td>
      <td><input type="text" formControlName="wheelHouse1" /></td>
      <td><input type="text" formControlName="mcr1" /></td>
      <td><input type="text" formControlName="mechPort1" /></td>
      <td><input type="text" formControlName="mechStbd1" /></td>
    </tr>

    <tr>
      <td>10°</td>
      <td><input type="text" formControlName="bridgeEnclosed2" /></td>
      <td><input type="text" formControlName="analogAsp2" /></td>
      <td><input type="text" formControlName="wheelHouse2" /></td>
      <td><input type="text" formControlName="mcr2" /></td>
      <td><input type="text" formControlName="mechPort2" /></td>
      <td><input type="text" formControlName="mechStbd2" /></td>
    </tr>

    <tr>
      <td>15°</td>
      <td><input type="text" formControlName="bridgeEnclosed3" /></td>
      <td><input type="text" formControlName="analogAsp3" /></td>
      <td><input type="text" formControlName="wheelHouse3" /></td>
      <td><input type="text" formControlName="mcr3" /></td>
      <td><input type="text" formControlName="mechPort3" /></td>
      <td><input type="text" formControlName="mechStbd3" /></td>
    </tr>
    <!-- 20° -->
        <tr>
          <td>20°</td>
          <td><input type="text" formControlName="bridgeEnclosed4"></td>
          <td><input type="text" formControlName="analogAsp4"></td>
          <td><input type="text" formControlName="wheelHouse4"></td>
          <td><input type="text" formControlName="mcr4"></td>
          <td><input type="text" formControlName="mechPort4"></td>
          <td><input type="text" formControlName="mechStbd4"></td>
        </tr>
        <tr>
          <td>25°</td>
          <td><input type="text" formControlName="bridgeEnclosed5"></td>
          <td><input type="text" formControlName="analogAsp5"></td>
          <td><input type="text" formControlName="wheelHouse5"></td>
          <td><input type="text" formControlName="mcr5"></td>
          <td><input type="text" formControlName="mechPort5"></td>
          <td><input type="text" formControlName="mechStbd5"></td>
        </tr>
        <tr>
          <td>30°</td>
          <td><input type="text" formControlName="bridgeEnclosed6"></td>
          <td><input type="text" formControlName="analogAsp6"></td>
          <td><input type="text" formControlName="wheelHouse6"></td>
          <td><input type="text" formControlName="mcr6"></td>
          <td><input type="text" formControlName="mechPort6"></td>
          <td><input type="text" formControlName="mechStbd6"></td>
        </tr>
        <tr>
          <td>35°</td>
          <td><input type="text" formControlName="bridgeEnclosed7"></td>
          <td><input type="text" formControlName="analogAsp7"></td>
          <td><input type="text" formControlName="wheelHouse7"></td>
          <td><input type="text" formControlName="mcr7"></td>
          <td><input type="text" formControlName="mechPort7"></td>
          <td><input type="text" formControlName="mechStbd7"></td>
        </tr>
        <tr>
          <td>30°</td>
          <td><input type="text" formControlName="bridgeEnclosed8"></td>
          <td><input type="text" formControlName="analogAsp8"></td>
          <td><input type="text" formControlName="wheelHouse8"></td>
          <td><input type="text" formControlName="mcr8"></td>
          <td><input type="text" formControlName="mechPort8"></td>
          <td><input type="text" formControlName="mechStbd8"></td>
        </tr>
        <tr>
          <td>25°</td>
          <td><input type="text" formControlName="bridgeEnclosed9"></td>
          <td><input type="text" formControlName="analogAsp9"></td>
          <td><input type="text" formControlName="wheelHouse9"></td>
          <td><input type="text" formControlName="mcr9"></td>
          <td><input type="text" formControlName="mechPort9"></td>
          <td><input type="text" formControlName="mechStbd9"></td>
        </tr>
        <tr>
          <td>20°</td>
          <td><input type="text" formControlName="bridgeEnclosed10"></td>
          <td><input type="text" formControlName="analogAsp10"></td>
          <td><input type="text" formControlName="wheelHouse10"></td>
          <td><input type="text" formControlName="mcr10"></td>
          <td><input type="text" formControlName="mechPort10"></td>
          <td><input type="text" formControlName="mechStbd10"></td>
        </tr>
        <tr>
      <td>15°</td>
      <td><input type="text" formControlName="bridgeEnclosed11" /></td>
      <td><input type="text" formControlName="analogAsp11" /></td>
      <td><input type="text" formControlName="wheelHouse11" /></td>
      <td><input type="text" formControlName="mcr11" /></td>
      <td><input type="text" formControlName="mechPort11" /></td>
      <td><input type="text" formControlName="mechStbd11" /></td>
    </tr>
    <tr>
      <td>10°</td>
      <td><input type="text" formControlName="bridgeEnclosed12" /></td>
      <td><input type="text" formControlName="analogAsp12" /></td>
      <td><input type="text" formControlName="wheelHouse12" /></td>
      <td><input type="text" formControlName="mcr12" /></td>
      <td><input type="text" formControlName="mechPort12" /></td>
      <td><input type="text" formControlName="mechStbd12" /></td>
    </tr>
    <tr>
      <td>5°</td>
      <td><input type="text" formControlName="bridgeEnclosed13" /></td>
      <td><input type="text" formControlName="analogAsp13" /></td>
      <td><input type="text" formControlName="wheelHouse13" /></td>
      <td><input type="text" formControlName="mcr13" /></td>
      <td><input type="text" formControlName="mechPort13" /></td>
      <td><input type="text" formControlName="mechStbd13" /></td>
    </tr>

    <tr>
      <td>MIDSHIP</td>
      <td><input type="text" formControlName="bridgeEnclosed14" /></td>
      <td><input type="text" formControlName="analogAsp14" /></td>
      <td><input type="text" formControlName="wheelHouse14" /></td>
      <td><input type="text" formControlName="mcr14" /></td>
      <td><input type="text" formControlName="mechPort14" /></td>
      <td><input type="text" formControlName="mechStbd14" /></td>
    </tr>

    <tr>
      <td>5° STBD</td>
      <td><input type="text" formControlName="bridgeEnclosed15" /></td>
      <td><input type="text" formControlName="analogAsp15" /></td>
      <td><input type="text" formControlName="wheelHouse15" /></td>
      <td><input type="text" formControlName="mcr15" /></td>
      <td><input type="text" formControlName="mechPort15" /></td>
      <td><input type="text" formControlName="mechStbd15" /></td>
    </tr>

    <tr>
      <td>10°</td>
      <td><input type="text" formControlName="bridgeEnclosed16" /></td>
      <td><input type="text" formControlName="analogAsp16" /></td>
      <td><input type="text" formControlName="wheelHouse16" /></td>
      <td><input type="text" formControlName="mcr16" /></td>
      <td><input type="text" formControlName="mechPort16" /></td>
      <td><input type="text" formControlName="mechStbd16" /></td>
    </tr>

    <tr>
      <td>15°</td>
      <td><input type="text" formControlName="bridgeEnclosed17" /></td>
      <td><input type="text" formControlName="analogAsp17" /></td>
      <td><input type="text" formControlName="wheelHouse17" /></td>
      <td><input type="text" formControlName="mcr17" /></td>
      <td><input type="text" formControlName="mechPort17" /></td>
      <td><input type="text" formControlName="mechStbd17" /></td>
    </tr>
    <!-- 20° -->
        <tr>
          <td>20°</td>
          <td><input type="text" formControlName="bridgeEnclosed18"></td>
          <td><input type="text" formControlName="analogAsp18"></td>
          <td><input type="text" formControlName="wheelHouse18"></td>
          <td><input type="text" formControlName="mcr18"></td>
          <td><input type="text" formControlName="mechPort18"></td>
          <td><input type="text" formControlName="mechStbd18"></td>
        </tr>
        <tr>
          <td>25°</td>
          <td><input type="text" formControlName="bridgeEnclosed19"></td>
          <td><input type="text" formControlName="analogAsp19"></td>
          <td><input type="text" formControlName="wheelHouse19"></td>
          <td><input type="text" formControlName="mcr19"></td>
          <td><input type="text" formControlName="mechPort19"></td>
          <td><input type="text" formControlName="mechStbd19"></td>
        </tr>
        <tr>
          <td>30°</td>
          <td><input type="text" formControlName="bridgeEnclosed20"></td>
          <td><input type="text" formControlName="analogAsp20"></td>
          <td><input type="text" formControlName="wheelHouse20"></td>
          <td><input type="text" formControlName="mcr20"></td>
          <td><input type="text" formControlName="mechPort20"></td>
          <td><input type="text" formControlName="mechStbd20"></td>
        </tr>
        <tr>
          <td>35°</td>
          <td><input type="text" formControlName="bridgeEnclosed21"></td>
          <td><input type="text" formControlName="analogAsp21"></td>
          <td><input type="text" formControlName="wheelHouse21"></td>
          <td><input type="text" formControlName="mcr21"></td>
          <td><input type="text" formControlName="mechPort21"></td>
          <td><input type="text" formControlName="mechStbd21"></td>
        </tr>
        <tr>
          <td>30°</td>
          <td><input type="text" formControlName="bridgeEnclosed22"></td>
          <td><input type="text" formControlName="analogAsp22"></td>
          <td><input type="text" formControlName="wheelHouse22"></td>
          <td><input type="text" formControlName="mcr22"></td>
          <td><input type="text" formControlName="mechPort22"></td>
          <td><input type="text" formControlName="mechStbd22"></td>
        </tr>
        <tr>
          <td>25°</td>
          <td><input type="text" formControlName="bridgeEnclosed23"></td>
          <td><input type="text" formControlName="analogAsp23"></td>
          <td><input type="text" formControlName="wheelHouse23"></td>
          <td><input type="text" formControlName="mcr23"></td>
          <td><input type="text" formControlName="mechPort23"></td>
          <td><input type="text" formControlName="mechStbd23"></td>
        </tr>
        <tr>
          <td>20°</td>
          <td><input type="text" formControlName="bridgeEnclosed24"></td>
          <td><input type="text" formControlName="analogAsp24"></td>
          <td><input type="text" formControlName="wheelHouse24"></td>
          <td><input type="text" formControlName="mcr24"></td>
          <td><input type="text" formControlName="mechPort24"></td>
          <td><input type="text" formControlName="mechStbd24"></td>
        </tr>
        <tr>
      <td>15°</td>
      <td><input type="text" formControlName="bridgeEnclosed25" /></td>
      <td><input type="text" formControlName="analogAsp25" /></td>
      <td><input type="text" formControlName="wheelHouse25" /></td>
      <td><input type="text" formControlName="mcr25" /></td>
      <td><input type="text" formControlName="mechPort25" /></td>
      <td><input type="text" formControlName="mechStbd25" /></td>
    </tr>
    <tr>
      <td>10°</td>
      <td><input type="text" formControlName="bridgeEnclosed26" /></td>
      <td><input type="text" formControlName="analogAsp26" /></td>
      <td><input type="text" formControlName="wheelHouse26" /></td>
      <td><input type="text" formControlName="mcr26" /></td>
      <td><input type="text" formControlName="mechPort26" /></td>
      <td><input type="text" formControlName="mechStbd26" /></td>
    </tr>
    <tr>
      <td>5°</td>
      <td><input type="text" formControlName="bridgeEnclosed27" /></td>
      <td><input type="text" formControlName="analogAsp27" /></td>
      <td><input type="text" formControlName="wheelHouse27" /></td>
      <td><input type="text" formControlName="mcr27" /></td>
      <td><input type="text" formControlName="mechPort27" /></td>
      <td><input type="text" formControlName="mechStbd27" /></td>
    </tr>
    <tr>
      <td>MIDSHIP</td>
      <td><input type="text" formControlName="bridgeEnclosed28" /></td>
      <td><input type="text" formControlName="analogAsp28" /></td>
      <td><input type="text" formControlName="wheelHouse28" /></td>
      <td><input type="text" formControlName="mcr28" /></td>
      <td><input type="text" formControlName="mechPort28" /></td>
      <td><input type="text" formControlName="mechStbd28" /></td>
    </tr>
  </table>
</form>
</div>


<div class="table-section">
<form [formGroup]="BridgeStbdNFUForm">
  <h4 class="sub-heading">(b)	Operating Position- Bridge with Stbd Pump (NFU)</h4>
  <!-- You can reuse this table structure for other headings too -->
  <table>
    <tr>
      <th rowspan="2">Helm applied</th>
      <th rowspan="2">Bridge Enclosed</th>
      <th rowspan="2">Analog ASP</th>
      <th rowspan="2">Wheel House</th>
      <th rowspan="2">MCR</th>
      <th colspan="2">Mechanical Indicator (ASP)</th>
    </tr>
    <tr>
      <th>P</th>
      <th>S</th>
    </tr>

    <tr>
      <td>MIDSHIP</td>
      <td><input type="text" formControlName="bridgeEnclosed0" /></td>
      <td><input type="text" formControlName="analogAsp0" /></td>
      <td><input type="text" formControlName="wheelHouse0" /></td>
      <td><input type="text" formControlName="mcr0" /></td>
      <td><input type="text" formControlName="mechPort0" /></td>
      <td><input type="text" formControlName="mechStbd0" /></td>
    </tr>

    <tr>
      <td>5° PORT</td>
      <td><input type="text" formControlName="bridgeEnclosed1" /></td>
      <td><input type="text" formControlName="analogAsp1" /></td>
      <td><input type="text" formControlName="wheelHouse1" /></td>
      <td><input type="text" formControlName="mcr1" /></td>
      <td><input type="text" formControlName="mechPort1" /></td>
      <td><input type="text" formControlName="mechStbd1" /></td>
    </tr>

    <tr>
      <td>10°</td>
      <td><input type="text" formControlName="bridgeEnclosed2" /></td>
      <td><input type="text" formControlName="analogAsp2" /></td>
      <td><input type="text" formControlName="wheelHouse2" /></td>
      <td><input type="text" formControlName="mcr2" /></td>
      <td><input type="text" formControlName="mechPort2" /></td>
      <td><input type="text" formControlName="mechStbd2" /></td>
    </tr>

    <tr>
      <td>15°</td>
      <td><input type="text" formControlName="bridgeEnclosed3" /></td>
      <td><input type="text" formControlName="analogAsp3" /></td>
      <td><input type="text" formControlName="wheelHouse3" /></td>
      <td><input type="text" formControlName="mcr3" /></td>
      <td><input type="text" formControlName="mechPort3" /></td>
      <td><input type="text" formControlName="mechStbd3" /></td>
    </tr>
    <!-- 20° -->
        <tr>
          <td>20°</td>
          <td><input type="text" formControlName="bridgeEnclosed4"></td>
          <td><input type="text" formControlName="analogAsp4"></td>
          <td><input type="text" formControlName="wheelHouse4"></td>
          <td><input type="text" formControlName="mcr4"></td>
          <td><input type="text" formControlName="mechPort4"></td>
          <td><input type="text" formControlName="mechStbd4"></td>
        </tr>
        <tr>
          <td>25°</td>
          <td><input type="text" formControlName="bridgeEnclosed5"></td>
          <td><input type="text" formControlName="analogAsp5"></td>
          <td><input type="text" formControlName="wheelHouse5"></td>
          <td><input type="text" formControlName="mcr5"></td>
          <td><input type="text" formControlName="mechPort5"></td>
          <td><input type="text" formControlName="mechStbd5"></td>
        </tr>
        <tr>
          <td>30°</td>
          <td><input type="text" formControlName="bridgeEnclosed6"></td>
          <td><input type="text" formControlName="analogAsp6"></td>
          <td><input type="text" formControlName="wheelHouse6"></td>
          <td><input type="text" formControlName="mcr6"></td>
          <td><input type="text" formControlName="mechPort6"></td>
          <td><input type="text" formControlName="mechStbd6"></td>
        </tr>
        <tr>
          <td>35°</td>
          <td><input type="text" formControlName="bridgeEnclosed7"></td>
          <td><input type="text" formControlName="analogAsp7"></td>
          <td><input type="text" formControlName="wheelHouse7"></td>
          <td><input type="text" formControlName="mcr7"></td>
          <td><input type="text" formControlName="mechPort7"></td>
          <td><input type="text" formControlName="mechStbd7"></td>
        </tr>
        <tr>
          <td>30°</td>
          <td><input type="text" formControlName="bridgeEnclosed8"></td>
          <td><input type="text" formControlName="analogAsp8"></td>
          <td><input type="text" formControlName="wheelHouse8"></td>
          <td><input type="text" formControlName="mcr8"></td>
          <td><input type="text" formControlName="mechPort8"></td>
          <td><input type="text" formControlName="mechStbd8"></td>
        </tr>
        <tr>
          <td>25°</td>
          <td><input type="text" formControlName="bridgeEnclosed9"></td>
          <td><input type="text" formControlName="analogAsp9"></td>
          <td><input type="text" formControlName="wheelHouse9"></td>
          <td><input type="text" formControlName="mcr9"></td>
          <td><input type="text" formControlName="mechPort9"></td>
          <td><input type="text" formControlName="mechStbd9"></td>
        </tr>
        <tr>
          <td>20°</td>
          <td><input type="text" formControlName="bridgeEnclosed10"></td>
          <td><input type="text" formControlName="analogAsp10"></td>
          <td><input type="text" formControlName="wheelHouse10"></td>
          <td><input type="text" formControlName="mcr10"></td>
          <td><input type="text" formControlName="mechPort10"></td>
          <td><input type="text" formControlName="mechStbd10"></td>
        </tr>
        <tr>
      <td>15°</td>
      <td><input type="text" formControlName="bridgeEnclosed11" /></td>
      <td><input type="text" formControlName="analogAsp11" /></td>
      <td><input type="text" formControlName="wheelHouse11" /></td>
      <td><input type="text" formControlName="mcr11" /></td>
      <td><input type="text" formControlName="mechPort11" /></td>
      <td><input type="text" formControlName="mechStbd11" /></td>
    </tr>
    <tr>
      <td>10°</td>
      <td><input type="text" formControlName="bridgeEnclosed12" /></td>
      <td><input type="text" formControlName="analogAsp12" /></td>
      <td><input type="text" formControlName="wheelHouse12" /></td>
      <td><input type="text" formControlName="mcr12" /></td>
      <td><input type="text" formControlName="mechPort12" /></td>
      <td><input type="text" formControlName="mechStbd12" /></td>
    </tr>
    <tr>
      <td>5°</td>
      <td><input type="text" formControlName="bridgeEnclosed13" /></td>
      <td><input type="text" formControlName="analogAsp13" /></td>
      <td><input type="text" formControlName="wheelHouse13" /></td>
      <td><input type="text" formControlName="mcr13" /></td>
      <td><input type="text" formControlName="mechPort13" /></td>
      <td><input type="text" formControlName="mechStbd13" /></td>
    </tr>

    <tr>
      <td>MIDSHIP</td>
      <td><input type="text" formControlName="bridgeEnclosed14" /></td>
      <td><input type="text" formControlName="analogAsp14" /></td>
      <td><input type="text" formControlName="wheelHouse14" /></td>
      <td><input type="text" formControlName="mcr14" /></td>
      <td><input type="text" formControlName="mechPort14" /></td>
      <td><input type="text" formControlName="mechStbd14" /></td>
    </tr>

    <tr>
      <td>5° STBD</td>
      <td><input type="text" formControlName="bridgeEnclosed15" /></td>
      <td><input type="text" formControlName="analogAsp15" /></td>
      <td><input type="text" formControlName="wheelHouse15" /></td>
      <td><input type="text" formControlName="mcr15" /></td>
      <td><input type="text" formControlName="mechPort15" /></td>
      <td><input type="text" formControlName="mechStbd15" /></td>
    </tr>

    <tr>
      <td>10°</td>
      <td><input type="text" formControlName="bridgeEnclosed16" /></td>
      <td><input type="text" formControlName="analogAsp16" /></td>
      <td><input type="text" formControlName="wheelHouse16" /></td>
      <td><input type="text" formControlName="mcr16" /></td>
      <td><input type="text" formControlName="mechPort16" /></td>
      <td><input type="text" formControlName="mechStbd16" /></td>
    </tr>

    <tr>
      <td>15°</td>
      <td><input type="text" formControlName="bridgeEnclosed17" /></td>
      <td><input type="text" formControlName="analogAsp17" /></td>
      <td><input type="text" formControlName="wheelHouse17" /></td>
      <td><input type="text" formControlName="mcr17" /></td>
      <td><input type="text" formControlName="mechPort17" /></td>
      <td><input type="text" formControlName="mechStbd17" /></td>
    </tr>
    <!-- 20° -->
        <tr>
          <td>20°</td>
          <td><input type="text" formControlName="bridgeEnclosed18"></td>
          <td><input type="text" formControlName="analogAsp18"></td>
          <td><input type="text" formControlName="wheelHouse18"></td>
          <td><input type="text" formControlName="mcr18"></td>
          <td><input type="text" formControlName="mechPort18"></td>
          <td><input type="text" formControlName="mechStbd18"></td>
        </tr>
        <tr>
          <td>25°</td>
          <td><input type="text" formControlName="bridgeEnclosed19"></td>
          <td><input type="text" formControlName="analogAsp19"></td>
          <td><input type="text" formControlName="wheelHouse19"></td>
          <td><input type="text" formControlName="mcr19"></td>
          <td><input type="text" formControlName="mechPort19"></td>
          <td><input type="text" formControlName="mechStbd19"></td>
        </tr>
        <tr>
          <td>30°</td>
          <td><input type="text" formControlName="bridgeEnclosed20"></td>
          <td><input type="text" formControlName="analogAsp20"></td>
          <td><input type="text" formControlName="wheelHouse20"></td>
          <td><input type="text" formControlName="mcr20"></td>
          <td><input type="text" formControlName="mechPort20"></td>
          <td><input type="text" formControlName="mechStbd20"></td>
        </tr>
        <tr>
          <td>35°</td>
          <td><input type="text" formControlName="bridgeEnclosed21"></td>
          <td><input type="text" formControlName="analogAsp21"></td>
          <td><input type="text" formControlName="wheelHouse21"></td>
          <td><input type="text" formControlName="mcr21"></td>
          <td><input type="text" formControlName="mechPort21"></td>
          <td><input type="text" formControlName="mechStbd21"></td>
        </tr>
        <tr>
          <td>30°</td>
          <td><input type="text" formControlName="bridgeEnclosed22"></td>
          <td><input type="text" formControlName="analogAsp22"></td>
          <td><input type="text" formControlName="wheelHouse22"></td>
          <td><input type="text" formControlName="mcr22"></td>
          <td><input type="text" formControlName="mechPort22"></td>
          <td><input type="text" formControlName="mechStbd22"></td>
        </tr>
        <tr>
          <td>25°</td>
          <td><input type="text" formControlName="bridgeEnclosed23"></td>
          <td><input type="text" formControlName="analogAsp23"></td>
          <td><input type="text" formControlName="wheelHouse23"></td>
          <td><input type="text" formControlName="mcr23"></td>
          <td><input type="text" formControlName="mechPort23"></td>
          <td><input type="text" formControlName="mechStbd23"></td>
        </tr>
        <tr>
          <td>20°</td>
          <td><input type="text" formControlName="bridgeEnclosed24"></td>
          <td><input type="text" formControlName="analogAsp24"></td>
          <td><input type="text" formControlName="wheelHouse24"></td>
          <td><input type="text" formControlName="mcr24"></td>
          <td><input type="text" formControlName="mechPort24"></td>
          <td><input type="text" formControlName="mechStbd24"></td>
        </tr>
        <tr>
      <td>15°</td>
      <td><input type="text" formControlName="bridgeEnclosed25" /></td>
      <td><input type="text" formControlName="analogAsp25" /></td>
      <td><input type="text" formControlName="wheelHouse25" /></td>
      <td><input type="text" formControlName="mcr25" /></td>
      <td><input type="text" formControlName="mechPort25" /></td>
      <td><input type="text" formControlName="mechStbd25" /></td>
    </tr>
    <tr>
      <td>10°</td>
      <td><input type="text" formControlName="bridgeEnclosed26" /></td>
      <td><input type="text" formControlName="analogAsp26" /></td>
      <td><input type="text" formControlName="wheelHouse26" /></td>
      <td><input type="text" formControlName="mcr26" /></td>
      <td><input type="text" formControlName="mechPort26" /></td>
      <td><input type="text" formControlName="mechStbd26" /></td>
    </tr>
    <tr>
      <td>5°</td>
      <td><input type="text" formControlName="bridgeEnclosed27" /></td>
      <td><input type="text" formControlName="analogAsp27" /></td>
      <td><input type="text" formControlName="wheelHouse27" /></td>
      <td><input type="text" formControlName="mcr27" /></td>
      <td><input type="text" formControlName="mechPort27" /></td>
      <td><input type="text" formControlName="mechStbd27" /></td>
    </tr>
    <tr>
      <td>MIDSHIP</td>
      <td><input type="text" formControlName="bridgeEnclosed28" /></td>
      <td><input type="text" formControlName="analogAsp28" /></td>
      <td><input type="text" formControlName="wheelHouse28" /></td>
      <td><input type="text" formControlName="mcr28" /></td>
      <td><input type="text" formControlName="mechPort28" /></td>
      <td><input type="text" formControlName="mechStbd28" /></td>
    </tr>
  </table>
</form>
</div>

<div class="table-section">
<form [formGroup]="emergencySteeringForm">
  <p><strong><u>Steering Timings by Emergency Hand Steering Wheel:</u></strong></p>
  <table border="1">
    <thead>
      <tr>
        <th>Sequence</th>
        <th>0° – 10° Port</th>
        <th>10° Port – 10° Stbd</th>
        <th>10° Stbd – 0°</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>No. of turns</td>
        <td><input formControlName="zeroToTenPort" type="text"></td>
        <td><input formControlName="tenPortToTenStbd" type="text"></td>
        <td><input formControlName="tenStbdToZero" type="text"></td>
      </tr>
    </tbody>
  </table>
</form>
</div>