<section>
    <form [formGroup]="DelhiRefit_six">
<h3 class="main-heading">RG LUB OIL TRANSFER PUMP</h3>
<h4 class="sub-heading">1.	Performance Parameters. </h4>
   <table  class="vibration-table">
    <thead>
      <tr>
        <th>Ser</th>
        <th>Description</th>
        <th>FER</th>
        <th>AER</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>(a)</td>
        <td>Condition of SV mounts of pumps & motor</td>
        <td><input type="text" class="form-control" form-control  formControlName="no1aAER_263_330_1" /></td>
        <td><input type="text" class="form-control" form-control  formControlName="no2aFER_263_330_1" /></td>
      </tr>
      <tr>
        <td>(b)</td>
        <td>Condition of suction/discharge compensator </td>
        <td><input type="text" class="form-control" form-control  formControlName="no1bAER_264_331_2" /></td>
        <td><input type="text" class="form-control" form-control  formControlName="no2bFER_264_331_2" /></td>
      </tr>
      <tr>
        <td>(c)</td>
        <td>Securing of the suction/discharge pipe</td>
        <td><input type="text" class="form-control" form-control  formControlName="no1cAER_265_332_3" /></td>
        <td><input type="text" class="form-control" form-control  formControlName="no2cFER_265_332_3" /></td>
      </tr>
      <tr>
        <td>(d)</td>
        <td>Abnormal noise</td>
        <td><input type="text" class="form-control" form-control  formControlName="no1dAER_266_333_4" /></td>
        <td><input type="text" class="form-control" form-control  formControlName="no2dFER_266_333_4" /></td>
      </tr>
      <tr>
        <td>(e)</td>
        <td>Excessive vibration</td>
        <td><input type="text" class="form-control" form-control  formControlName="no1eAER_267_334_5" /></td>
        <td><input type="text" class="form-control" form-control  formControlName="no2eFER_267_334_5" /></td>
      </tr>
      <tr>
        <td>(f)</td>
        <td>Gland leak (Mechanical seal)</td>
        <td><input type="text" class="form-control" form-control  formControlName="no1fAER_268_335_6" /></td>
        <td><input type="text" class="form-control" form-control  formControlName="no2fFER_268_335_6" /></td>
      </tr>
      <tr>
        <td>(g)</td>
        <td>Pressure fluctuation</td>
        <td><input type="text" class="form-control" form-control  formControlName="no1gAER_269_336_7" /></td>
        <td><input type="text" class="form-control" form-control  formControlName="no2gFER_269_336_7" /></td>
      </tr>
      <tr>
        <td>(h)</td>
        <td>Suction pressure</td>
        <td><input type="text" class="form-control" form-control  formControlName="no1hAER_270_337_8" /></td>
        <td><input type="text" class="form-control" form-control  formControlName="no2hFER_270_337_8" /></td>
      </tr>
      <tr>
        <td>(j)</td>
        <td>Discharge Pressure</td>
        <td><input type="text" class="form-control" form-control  formControlName="no1fAER_271_338_9" /></td>
        <td><input type="text" class="form-control" form-control  formControlName="no2fFER_271_338_9" /></td>
      </tr>
      <tr>
        <td>(k)</td>
        <td>Start/stop from local and remote</td>
        <td><input type="text" class="form-control" form-control  formControlName="no1gAER_272_339_10" /></td>
        <td><input type="text" class="form-control" form-control  formControlName="no2gFER_272_339_10" /></td>
      </tr>
      <tr>
        <td>(l)</td>
        <td>Valves and gauges provided with tallies</td>
        <td><input type="text" class="form-control" form-control  formControlName="no1hAER_273_340_11" /></td>
        <td><input type="text" class="form-control" form-control  formControlName="no2hFER_273_340_11" /></td>
      </tr>
      <tr>
        <td>(m)</td>
        <td>Operating instructions displayed for pump</td>
        <td><input type="text" class="form-control" form-control  formControlName="no1hAER_274_341_12" /></td>
        <td><input type="text" class="form-control" form-control  formControlName="no2hFER_274_341_12" /></td>
      </tr>
      <tr>
        <td>(n)</td>
        <td>Pipe painting as per color standard</td>
        <td><input type="text" class="form-control" form-control  formControlName="no1iAER_275_342_13" /></td>
        <td><input type="text" class="form-control" form-control  formControlName="no2fFER_275_342_13" /></td>
      </tr>
      <tr>
        <td>(p)</td>
        <td>Starting current</td>
        <td><input type="text" class="form-control" form-control  formControlName="no1jAER_276_343_14" /></td>
        <td><input type="text" class="form-control" form-control  formControlName="no2gFER_276_343_14" /></td>
      </tr>
      <tr>
        <td>(q)</td>
        <td>Running current</td>
        <td><input type="text" class="form-control" form-control  formControlName="no1kAER_277_344_15" /></td>
        <td><input type="text" class="form-control" form-control  formControlName="no2hFER_277_344_15" /></td>
      </tr>
    </tbody>
  </table>

   <h3>2. <u>SPM Levels</u></h3>

  <table class="spm-table">
    <thead>
      <tr>
        <th>Description</th>
        <th>FER</th>
        <th>AER</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Motor FE</td>
        <td><input type="text" class="form-control" form-control  formControlName="fe1_278_345_16" /></td>
        <td><input type="text" class="form-control" form-control  formControlName="fe2_278_345_16" /></td>
      </tr>
      <tr>
        <td>Motor DE</td>
        <td><input type="text" class="form-control" form-control  formControlName="de1_279_346_17" /></td>
        <td><input type="text" class="form-control" form-control  formControlName="de2_279_346_17" /></td>
      </tr>
    </tbody>
  </table>

 <h3>3. <u>Overall Vibration</u></h3>

  <!-- First Table -->
  <table class="vibration-table">
    <thead>
      <tr>
        <th rowspan="2">Location</th>
        <th colspan="3">FER</th>
        <th colspan="3">AER</th>
      </tr>
      <tr>
        <th><u>V</u></th>
        <th><u>A</u></th>
        <th><u>H</u></th>
        <th><u>V</u></th>
        <th><u>A</u></th>
        <th><u>H</u></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Motor FE</td>
        <td><input type="text" class="form-control" form-control  formControlName="motor1_280_347_18FEV1" /></td>
        <td><input type="text" class="form-control" form-control  formControlName="motor2_280_347_18FEA1" /></td>
        <td><input type="text" class="form-control" form-control  formControlName="motor3_280_347_18FEH1" /></td>
        <td><input type="text" class="form-control" form-control  formControlName="motor4_280_347_18FEV2" /></td>
        <td><input type="text" class="form-control" form-control  formControlName="motor5_280_347_18FEA2" /></td>
        <td><input type="text" class="form-control" form-control  formControlName="motor6_280_347_18FEH2" /></td>
      </tr>
      <tr>
        <td>Motor DE</td>
        <td><input type="text" class="form-control" form-control  formControlName="motor1_281_348_19DEV1" /></td>
        <td><input type="text" class="form-control" form-control  formControlName="motor2_281_348_19DEA1" /></td>
        <td><input type="text" class="form-control" form-control  formControlName="motor3_281_348_19DEH1" /></td>
        <td><input type="text" class="form-control" form-control  formControlName="motor4_281_348_19DEV2" /></td>
        <td><input type="text" class="form-control" form-control  formControlName="motor5_281_348_19DEA2" /></td>
        <td><input type="text" class="form-control" form-control  formControlName="motor6_281_348_19DEH2" /></td>
      </tr>
      <tr>
        <td>Comp DE</td>
        <td><input type="text" class="form-control" form-control  formControlName="comp1_282_349_20DEV1" /></td>
        <td><input type="text" class="form-control" form-control  formControlName="comp2_282_349_20DEA1" /></td>
        <td><input type="text" class="form-control" form-control  formControlName="comp3_282_349_20DEH1" /></td>
        <td><input type="text" class="form-control" form-control  formControlName="comp4_282_349_20DEV2" /></td>
        <td><input type="text" class="form-control" form-control  formControlName="comp5_282_349_20DEA2" /></td>
        <td><input type="text" class="form-control" form-control  formControlName="comp6_282_349_20DEH2" /></td>
      </tr>
      <tr>
        <td>Comp FE</td>
        <td><input type="text" class="form-control" form-control  formControlName="comp1_283_350_21FEV1" /></td>
        <td><input type="text" class="form-control" form-control  formControlName="comp2_283_350_21FEA1" /></td>
        <td><input type="text" class="form-control" form-control  formControlName="comp3_283_350_21FEH1" /></td>
        <td><input type="text" class="form-control" form-control  formControlName="comp4_283_350_21FEV2" /></td>
        <td><input type="text" class="form-control" form-control  formControlName="comp5_283_350_21FEA2" /></td>
        <td><input type="text" class="form-control" form-control  formControlName="comp6_283_350_21FEH2" /></td>
      </tr>
     
    </tbody>
  </table>


<h4 class="sub-heading">4.	Attenuation across SV mounts. </h4>
    <table  class="vibration-table">
    <thead>
        
      <tr>
        <th>Mounts</th>
        <th>1</th><th>2</th><th>3</th><th>4</th>
      </tr>
    </thead>

    <!-- No.1 -->
    <tr><td colspan="9" style="text-align:center;"><b><u>No.1</u></b></td></tr>
    <tr>
      <td>Top</td>
      <td><input type="text" class="form-control" form-control  formControlName="top_1_1_284_351_22"></td>
      <td><input type="text" class="form-control" form-control  formControlName="top_1_2_284_351_22"></td>
      <td><input type="text" class="form-control" form-control  formControlName="top_1_3_284_351_22"></td>
      <td><input type="text" class="form-control" form-control  formControlName="top_1_4_284_351_22"></td>
    </tr>
    <tr>
      <td>Bot</td>
      <td><input type="text" class="form-control" form-control  formControlName="bot_1_1_285_352_23"></td>
      <td><input type="text" class="form-control" form-control  formControlName="bot_1_2_285_352_23"></td>
      <td><input type="text" class="form-control" form-control  formControlName="bot_1_3_285_352_23"></td>
      <td><input type="text" class="form-control" form-control  formControlName="bot_1_4_285_352_23"></td>
    </tr>
    <tr>
      <td>Att.</td>
      <td><input type="text" class="form-control" form-control  formControlName="att_1_1_286_353_24"></td>
      <td><input type="text" class="form-control" form-control  formControlName="att_1_2_286_353_24"></td>
      <td><input type="text" class="form-control" form-control  formControlName="att_1_3_286_353_24"></td>
      <td><input type="text" class="form-control" form-control  formControlName="att_1_4_286_353_24"></td>
    </tr>

    <!-- No.2 -->
    <tr><td colspan="9" style="text-align:center;"><b><u>No.2</u></b></td></tr>
    <tr>
      <td>Top</td>
      <td><input type="text" class="form-control" form-control  formControlName="top_2_1_287_354_25"></td>
      <td><input type="text" class="form-control" form-control  formControlName="top_2_2_287_354_25"></td>
      <td><input type="text" class="form-control" form-control  formControlName="top_2_3_287_354_25"></td>
      <td><input type="text" class="form-control" form-control  formControlName="top_2_4_287_354_25"></td>
    </tr>
    <tr>
      <td>Bot</td>
      <td><input type="text" class="form-control" form-control  formControlName="bot_2_1_288_355_26"></td>
      <td><input type="text" class="form-control" form-control  formControlName="bot_2_2_288_355_26"></td>
      <td><input type="text" class="form-control" form-control  formControlName="bot_2_3_288_355_26"></td>
      <td><input type="text" class="form-control" form-control  formControlName="bot_2_4_288_355_26"></td>
    </tr>

    <!-- No.3 -->
    <tr>
      <td>Att.</td>
      <td><input type="text" class="form-control" form-control  formControlName="att_3_1_289_356_27"></td>
      <td><input type="text" class="form-control" form-control  formControlName="att_3_2_289_356_27"></td>
      <td><input type="text" class="form-control" form-control  formControlName="att_3_3_289_356_27"></td>
      <td><input type="text" class="form-control" form-control  formControlName="att_3_4_289_356_27"></td>
    </tr>
   
    
  </table>





<h3>5. <u>Capacity trials.</u></h3>

<div class="trial-table">
  <table>
    <thead>
      <tr>
        <th>Ser</th>
        <th>Description</th>
        <th>Unit</th>
        <th>Initial reading</th>
        <th>Final reading</th>
      </tr>
    </thead>
    <tbody>
      <!-- FER -->
      <tr><td colspan="5"><strong>FER</strong></td></tr>
      <tr>
        <td>(a)</td>
        <td>Sounding of storage tank</td>
        <td>Ltr</td>
        <td><input formControlName="fer_storage_initial_357_28" /></td>
        <td><input formControlName="fer_storage_final_357_28" /></td>
      </tr>
      <tr>
        <td>(b)</td>
        <td>Sounding of RU tank</td>
        <td>Ltr</td>
        <td><input formControlName="fer_ru_initial_358_29" /></td>
        <td><input formControlName="fer_ru_final_358_29" /></td>
      </tr>
      <tr>
        <td>(c)</td>
        <td>Total Fuel Transferred</td>
        <td>Ltr</td>
        <td colspan="2"><input formControlName="fer_fuel_initial_359_30" /></td>
      </tr>
      <tr>
        <td>(d)</td>
        <td>Time of transfer</td>
        <td>min</td>
        <td colspan="2"><input formControlName="fer_time_initial_360_31" /></td>
      </tr>
      <tr>
        <td>(e)</td>
        <td>Capacity achieved</td>
        <td>TPH</td>
        <td colspan="2"><input formControlName="fer_capacity_initial_361_32" /></td>
      </tr>

      <!-- AER -->
      <tr><td colspan="5"><strong>AER</strong></td></tr>
      <tr>
        <th>Ser</th>
        <th>Description</th>
        <th>Unit</th>
        <th>Initial reading</th>
        <th>Final reading</th>
      </tr>
      <tr>
        <td>(a)</td>
        <td>Sounding of storage tank</td>
        <td>Ltr</td>
        <td><input formControlName="aer_storage_initial_362_33" /></td>
        <td><input formControlName="aer_storage_final_362_33" /></td>
      </tr>
      <tr>
        <td>(b)</td>
        <td>Sounding of RU tank</td>
        <td>Ltr</td>
        <td><input formControlName="aer_ru_initial_363_34" /></td>
        <td><input formControlName="aer_ru_final_363_34" /></td>
      </tr>
      <tr>
        <td>(c)</td>
        <td>Total Fuel Transferred</td>
        <td>Ltr</td>
        <td colspan="2"><input formControlName="aer_fuel_initial_364_35" /></td>
      </tr>
      <tr>
        <td>(d)</td>
        <td>Time of transfer</td>
        <td>min</td>
        <td colspan="2"><input formControlName="aer_time_initial_365_36" /></td>
      </tr>
      <tr>
        <td>(e)</td>
        <td>Capacity achieved</td>
        <td>TPH</td>
        <td colspan="2"><input formControlName="aer_capacity_initial_366_37" /></td>
      </tr>

    </tbody>
  </table>
</div>

  <h3 class="main-heading">RG LUB OIL CENTRIFUGE</h3>
  <h3>1. <u>SPM Levels</u></h3>

  <table class="spm-table">
    <thead>
      <tr>
        <th>Description</th>
        <th>FER</th>
        <th>AER</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Motor FE</td>
        <td><input type="text" class="form-control" form-control  formControlName="fe1_278_345_38" /></td>
        <td><input type="text" class="form-control" form-control  formControlName="fe2_278_345_38" /></td>
      </tr>
      <tr>
        <td>Motor DE</td>
        <td><input type="text" class="form-control" form-control  formControlName="de1_279_346_39" /></td>
        <td><input type="text" class="form-control" form-control  formControlName="de2_279_346_39" /></td>
      </tr>
    </tbody>
  </table>


<h3>2. <u>Capacity trials.</u></h3>

<div class="trial-table">
  <table>
    <thead>
      <tr>
        <th>Ser</th>
        <th>Description</th>
        <th>Unit</th>
        <th>Initial reading</th>
        <th>Final reading</th>
      </tr>
    </thead>
    <tbody>
      <!-- FER -->
      <tr><td colspan="5"><strong>FER</strong></td></tr>
      <tr>
        <td>(a)</td>
        <td>Sounding of storage tank</td>
        <td>Ltr</td>
        <td><input formControlName="fer_storage_initial_357_40" /></td>
        <td><input formControlName="fer_storage_final_357_40" /></td>
      </tr>
      <tr>
        <td>(b)</td>
        <td>Sounding of RU tank</td>
        <td>Ltr</td>
        <td><input formControlName="fer_ru_initial_358_41" /></td>
        <td><input formControlName="fer_ru_final_358_41" /></td>
      </tr>
      <tr>
        <td>(c)</td>
        <td>Total Fuel Transferred</td>
        <td>Ltr</td>
        <td colspan="2"><input formControlName="fer_fuel_initial_359_42" /></td>
      </tr>
      <tr>
        <td>(d)</td>
        <td>Time of transfer</td>
        <td>min</td>
        <td colspan="2"><input formControlName="fer_time_initial_360_43" /></td>
      </tr>
      <tr>
        <td>(e)</td>
        <td>Capacity achieved</td>
        <td>TPH</td>
        <td colspan="2"><input formControlName="fer_capacity_initial_361_44" /></td>
      </tr>

      <!-- AER -->
      <tr><td colspan="5"><strong>AER</strong></td></tr>
      <tr>
        <th>Ser</th>
        <th>Description</th>
        <th>Unit</th>
        <th>Initial reading</th>
        <th>Final reading</th>
      </tr>
      <tr>
        <td>(a)</td>
        <td>Sounding of storage tank</td>
        <td>Ltr</td>
        <td><input formControlName="aer_storage_initial_362_45" /></td>
        <td><input formControlName="aer_storage_final_362_45" /></td>
      </tr>
      <tr>
        <td>(b)</td>
        <td>Sounding of RU tank</td>
        <td>Ltr</td>
        <td><input formControlName="aer_ru_initial_363_46" /></td>
        <td><input formControlName="aer_ru_final_363_46" /></td>
      </tr>
      <tr>
        <td>(c)</td>
        <td>Total Fuel Transferred</td>
        <td>Ltr</td>
        <td colspan="2"><input formControlName="aer_fuels_initial_364_35_47" /></td>
      </tr>
      <tr>
        <td>(d)</td>
        <td>Time of transfer</td>
        <td>min</td>
        <td colspan="2"><input formControlName="aer_time_initial_365_48" /></td>
      </tr>
      <tr>
        <td>(e)</td>
        <td>Capacity achieved</td>
        <td>TPH</td>
        <td colspan="2"><input formControlName="aer_capacity_initial_366_49" /></td>
      </tr>

    </tbody>
  </table>
</div>



  <h3 class="main-heading">GT LUB OIL CENTRIFUGE
    
  </h3>
  <h3>1. <u>SPM Levels</u></h3>

  <table class="spm-table">
    <thead>
      <tr>
        <th>Description</th>
        <th>FER</th>
        <th>AER</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Motor FE</td>
        <td><input type="text" class="form-control" form-control  formControlName="fe1_278_345_50" /></td>
        <td><input type="text" class="form-control" form-control  formControlName="fe2_278_345_50" /></td>
      </tr>
      <tr>
        <td>Motor DE</td>
        <td><input type="text" class="form-control" form-control  formControlName="de1_279_346_51" /></td>
        <td><input type="text" class="form-control" form-control  formControlName="de2_279_346_51" /></td>
      </tr>
    </tbody>
  </table>


<h3>2. <u>Capacity trials.</u></h3>

<div class="trial-table">
  <table>
    <thead>
      <tr>
        <th>Ser</th>
        <th>Description</th>
        <th>Unit</th>
        <th>Initial reading</th>
        <th>Final reading</th>
      </tr>
    </thead>
    <tbody>
      <!-- FER -->
      <tr><td colspan="5"><strong>FER</strong></td></tr>
      <tr>
        <td>(a)</td>
        <td>Sounding of storage tank</td>
        <td>Ltr</td>
        <td><input formControlName="fer_storage_initial_357_52" /></td>
        <td><input formControlName="fer_storage_final_357_52" /></td>
      </tr>
      <tr>
        <td>(b)</td>
        <td>Sounding of RU tank</td>
        <td>Ltr</td>
        <td><input formControlName="fer_ru_initial_358_53" /></td>
        <td><input formControlName="fer_ru_final_358_53" /></td>
      </tr>
      <tr>
        <td>(c)</td>
        <td>Total Fuel Transferred</td>
        <td>Ltr</td>
        <td colspan="2"><input formControlName="fer_fuel_initial_359_54" /></td>
      </tr>
      <tr>
        <td>(d)</td>
        <td>Time of transfer</td>
        <td>min</td>
        <td colspan="2"><input formControlName="fer_time_initial_360_55" /></td>
      </tr>
      <tr>
        <td>(e)</td>
        <td>Capacity achieved</td>
        <td>TPH</td>
        <td colspan="2"><input formControlName="fer_capacity_initial_361_56" /></td>
      </tr>

      <!-- AER -->
      <tr><td colspan="5"><strong>AER</strong></td></tr>
      <tr>
        <th>Ser</th>
        <th>Description</th>
        <th>Unit</th>
        <th>Initial reading</th>
        <th>Final reading</th>
      </tr>
      <tr>
        <td>(a)</td>
        <td>Sounding of storage tank</td>
        <td>Ltr</td>
        <td><input formControlName="aer_storage_initial_362_57" /></td>
        <td><input formControlName="aer_storage_final_362_57" /></td>
      </tr>
      <tr>
        <td>(b)</td>
        <td>Sounding of RU tank</td>
        <td>Ltr</td>
        <td><input formControlName="aer_ru_initial_363_58" /></td>
        <td><input formControlName="aer_ru_final_363_58" /></td>
      </tr>
      <tr>
        <td>(c)</td>
        <td>Total Fuel Transferred</td>
        <td>Ltr</td>
        <td colspan="2"><input formControlName="aer_fuel_initial_364_59" /></td>
      </tr>
      <tr>
        <td>(d)</td>
        <td>Time of transfer</td>
        <td>min</td>
        <td colspan="2"><input formControlName="aer_time_initial_365_60" /></td>
      </tr>
      <tr>
        <td>(e)</td>
        <td>Capacity achieved</td>
        <td>TPH</td>
        <td colspan="2"><input formControlName="aer_capacity_initial_366_61" /></td>
      </tr>

    </tbody>
  </table>
</div>
  <h3 class="main-heading">DA FUEL TRANSFER PUMP</h3>

<h4 class="sub-heading">1.	Performance Parameters. </h4>
   <table  class="vibration-table">
    <thead>
      <tr>
        <th>Ser</th>
        <th>Description</th>
        <th>No.1</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>(a)</td>
        <td>Condition of SV mounts of pumps & motor</td>
        <td><input type="text" class="form-control" form-control  formControlName="no1aAER_263_330_62" /></td>
      </tr>
      <tr>
        <td>(b)</td>
        <td>Condition of suction/discharge compensator </td>
        <td><input type="text" class="form-control" form-control  formControlName="no1bAER_264_331_63" /></td>
      </tr>
      <tr>
        <td>(c)</td>
        <td>Securing of the suction/discharge pipe</td>
        <td><input type="text" class="form-control" form-control  formControlName="no1cAER_265_332_64" /></td>
      </tr>
      <tr>
        <td>(d)</td>
        <td>Abnormal noise</td>
        <td><input type="text" class="form-control" form-control  formControlName="no1dAER_266_333_65" /></td>
      </tr>
      <tr>
        <td>(e)</td>
        <td>Excessive vibration</td>
        <td><input type="text" class="form-control" form-control  formControlName="no1eAER_267_334_66" /></td>
      </tr>
      <tr>
        <td>(f)</td>
        <td>Gland leak (Mechanical seal)</td>
        <td><input type="text" class="form-control" form-control  formControlName="no1fAER_268_335_67" /></td>
      </tr>
      <tr>
        <td>(g)</td>
        <td>Pressure fluctuation</td>
        <td><input type="text" class="form-control" form-control  formControlName="no1gAER_269_336_68" /></td>
      </tr>
      <tr>
        <td>(h)</td>
        <td>Suction pressure</td>
        <td><input type="text" class="form-control" form-control  formControlName="no1hAER_270_337_69" /></td>
      </tr>
      <tr>
        <td>(j)</td>
        <td>Discharge Pressure</td>
        <td><input type="text" class="form-control" form-control  formControlName="no1fAER_271_338_70" /></td>
      </tr>
      <tr>
        <td>(k)</td>
        <td>Start/stop from local and remote</td>
        <td><input type="text" class="form-control" form-control  formControlName="no1gAER_272_339_71" /></td>
      </tr>
      <tr>
        <td>(l)</td>
        <td>Valves and gauges provided with tallies</td>
        <td><input type="text" class="form-control" form-control  formControlName="no1hAER_273_340_72" /></td>
      </tr>
      <tr>
        <td>(m)</td>
        <td>Operating instructions displayed for pump</td>
        <td><input type="text" class="form-control" form-control  formControlName="no1hAER_274_341_73" /></td>
      </tr>
      <tr>
        <td>(n)</td>
        <td>Pipe painting as per color standard</td>
        <td><input type="text" class="form-control" form-control  formControlName="no1iAER_275_342_74" /></td>
      </tr>
      <tr>
        <td>(p)</td>
        <td>Starting current</td>
        <td><input type="text" class="form-control" form-control  formControlName="no1jAER_276_343_75" /></td>
      </tr>
      <tr>
        <td>(q)</td>
        <td>Running current</td>
        <td><input type="text" class="form-control" form-control  formControlName="no1kAER_277_344_76" /></td>
      </tr>
    </tbody>
  </table>

   <h3>2. <u>SPM Levels</u></h3>

  <table class="spm-table">
    <thead>
      <tr>
        <th>Description</th>
        <th>No.1</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Motor FE</td>
        <td><input type="text" class="form-control" form-control  formControlName="fe1_278_345_77" /></td>
      </tr>
      <tr>
        <td>Motor DE</td>
        <td><input type="text" class="form-control" form-control  formControlName="de1_279_346_78" /></td>
      </tr>
    </tbody>
  </table>

 <h3>3. <u>Overall Vibration</u></h3>

  <!-- First Table -->
  <table class="vibration-table">
    <thead>
      <tr>
        <th rowspan="2">Location</th>
        <th colspan="3">No.1</th>
      </tr>
      <tr>
        <th><u>A</u></th>
        <th><u>R</u></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Motor FE</td>
        <td><input type="text" class="form-control" form-control  formControlName="motor1_280_347_79FEV1" /></td>
        <td><input type="text" class="form-control" form-control  formControlName="motor2_280_347_79FEA1" /></td>
      </tr>
      <tr>
        <td>Motor DE</td>
        <td><input type="text" class="form-control" form-control  formControlName="motor1_281_348_80DEV1" /></td>
        <td><input type="text" class="form-control" form-control  formControlName="motor2_281_348_80DEA1" /></td>
      </tr>
      <tr>
        <td>Comp DE</td>
        <td><input type="text" class="form-control" form-control  formControlName="comp1_282_349_81DEV1" /></td>
        <td><input type="text" class="form-control" form-control  formControlName="comp2_282_349_81DEA1" /></td>
      </tr>
      <tr>
        <td>Comp FE</td>
        <td><input type="text" class="form-control" form-control  formControlName="comp1_283_350_82FEV1" /></td>
        <td><input type="text" class="form-control" form-control  formControlName="comp2_283_350_82FEA1" /></td>
      </tr>
     
    </tbody>
  </table>


<h4 class="sub-heading">4.	Attenuation across SV mounts. </h4>
    <table  class="vibration-table">
    <thead>
        
      <tr>
        <th>Mounts</th>
        <th>1</th><th>2</th><th>3</th><th>4</th>
      </tr>
    </thead>

    <!-- No.1 -->
    <tr><td colspan="9" style="text-align:center;"><b><u>No.1</u></b></td></tr>
    <tr>
      <td>Top</td>
      <td><input type="text" class="form-control" form-control  formControlName="top_1_1_284_351_83"></td>
      <td><input type="text" class="form-control" form-control  formControlName="top_1_2_284_351_83"></td>
      <td><input type="text" class="form-control" form-control  formControlName="top_1_3_284_351_83"></td>
      <td><input type="text" class="form-control" form-control  formControlName="top_1_4_284_351_83"></td>
    </tr>
    <tr>
      <td>Bot</td>
      <td><input type="text" class="form-control" form-control  formControlName="bot_1_1_285_352_84"></td>
      <td><input type="text" class="form-control" form-control  formControlName="bot_1_2_285_352_84"></td>
      <td><input type="text" class="form-control" form-control  formControlName="bot_1_3_285_352_84"></td>
      <td><input type="text" class="form-control" form-control  formControlName="bot_1_4_285_352_84"></td>
    </tr>
    <tr>
      <td>Att.</td>
      <td><input type="text" class="form-control" form-control  formControlName="att_1_1_286_353_85"></td>
      <td><input type="text" class="form-control" form-control  formControlName="att_1_2_286_353_85"></td>
      <td><input type="text" class="form-control" form-control  formControlName="att_1_3_286_353_85"></td>
      <td><input type="text" class="form-control" form-control  formControlName="att_1_4_286_353_85"></td>
    </tr>
   
    
  </table>
    <h3 class="main-heading">DA LO PRIMMING PUMP</h3>

<h4 class="sub-heading">1.	Performance Parameters. </h4>
   <table  class="vibration-table">
    <thead>
      <tr>
        <th>Ser</th>
        <th>Description</th>
        <th>No.1</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>(a)</td>
        <td>Condition of SV mounts of pumps & motor</td>
        <td><input type="text" class="form-control" form-control  formControlName="no1aAER_263_330_86" /></td>
      </tr>
      <tr>
        <td>(b)</td>
        <td>Condition of suction/discharge compensator </td>
        <td><input type="text" class="form-control" form-control  formControlName="no1bAER_264_331_87" /></td>
      </tr>
      <tr>
        <td>(c)</td>
        <td>Securing of the suction/discharge pipe</td>
        <td><input type="text" class="form-control" form-control  formControlName="no1cAER_265_332_88" /></td>
      </tr>
      <tr>
        <td>(d)</td>
        <td>Abnormal noise</td>
        <td><input type="text" class="form-control" form-control  formControlName="no1dAER_266_333_89" /></td>
      </tr>
      <tr>
        <td>(e)</td>
        <td>Excessive vibration</td>
        <td><input type="text" class="form-control" form-control  formControlName="no1eAER_267_334_90" /></td>
      </tr>
      <tr>
        <td>(f)</td>
        <td>Gland leak (Mechanical seal)</td>
        <td><input type="text" class="form-control" form-control  formControlName="no1fAER_268_335_91" /></td>
      </tr>
      <tr>
        <td>(g)</td>
        <td>Pressure fluctuation</td>
        <td><input type="text" class="form-control" form-control  formControlName="no1gAER_269_336_92" /></td>
      </tr>
      <tr>
        <td>(h)</td>
        <td>Suction pressure</td>
        <td><input type="text" class="form-control" form-control  formControlName="no1hAER_270_337_93" /></td>
      </tr>
      <tr>
        <td>(j)</td>
        <td>Discharge Pressure</td>
        <td><input type="text" class="form-control" form-control  formControlName="no1fAER_271_338_94" /></td>
      </tr>
      <tr>
        <td>(k)</td>
        <td>Start/stop from local and remote</td>
        <td><input type="text" class="form-control" form-control  formControlName="no1gAER_272_339_95" /></td>
      </tr>
      <tr>
        <td>(l)</td>
        <td>Valves and gauges provided with tallies</td>
        <td><input type="text" class="form-control" form-control  formControlName="no1hAER_273_340_96" /></td>
      </tr>
      <tr>
        <td>(m)</td>
        <td>Operating instructions displayed for pump</td>
        <td><input type="text" class="form-control" form-control  formControlName="no1hAER_274_341_97" /></td>
      </tr>
      <tr>
        <td>(n)</td>
        <td>Pipe painting as per color standard</td>
        <td><input type="text" class="form-control" form-control  formControlName="no1iAER_275_342_98" /></td>
      </tr>
      <tr>
        <td>(p)</td>
        <td>Starting current</td>
        <td><input type="text" class="form-control" form-control  formControlName="no1jAER_276_343_99" /></td>
      </tr>
      <tr>
        <td>(q)</td>
        <td>Running current</td>
        <td><input type="text" class="form-control" form-control  formControlName="no1kAER_277_344_100" /></td>
      </tr>
    </tbody>
  </table>

   <h3>2. <u>SPM Levels</u></h3>

  <table class="spm-table">
    <thead>
      <tr>
        <th>Description</th>
        <th>No.1</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Motor FE</td>
        <td><input type="text" class="form-control" form-control  formControlName="fe1_278_345_101" /></td>
      </tr>
      <tr>
        <td>Motor DE</td>
        <td><input type="text" class="form-control" form-control  formControlName="de1_279_346_102" /></td>
      </tr>
    </tbody>
  </table>

 <h3>3. <u>Overall Vibration</u></h3>

  <!-- First Table -->
  <table class="vibration-table">
    <thead>
      <tr>
        <th rowspan="2">Location</th>
        <th colspan="3">No.1</th>
      </tr>
      <tr>
        <th><u>V</u></th>
        <th><u>A</u></th>
        <th><u>H</u></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Motor FE</td>
        <td><input type="text" class="form-control" form-control  formControlName="motor1_280_347_103FEV1" /></td>
        <td><input type="text" class="form-control" form-control  formControlName="motor2_280_347_103FEA1" /></td>
        <td><input type="text" class="form-control" form-control  formControlName="motor3_280_347_103FEH1" /></td>
        
      </tr>
      <tr>
        <td>Motor DE</td>
        <td><input type="text" class="form-control" form-control  formControlName="motor1_281_348_104DEV1" /></td>
        <td><input type="text" class="form-control" form-control  formControlName="motor2_281_348_104DEA1" /></td>
        <td><input type="text" class="form-control" form-control  formControlName="motor3_281_348_104DEH1" /></td>
      </tr>
      <tr>
        <td>Comp DE</td>
        <td><input type="text" class="form-control" form-control  formControlName="comp1_282_349_105DEV1" /></td>
        <td><input type="text" class="form-control" form-control  formControlName="comp2_282_349_105DEA1" /></td>
        <td><input type="text" class="form-control" form-control  formControlName="comp3_282_349_105DEH1" /></td>
      </tr>
      <tr>
        <td>Comp FE</td>
        <td><input type="text" class="form-control" form-control  formControlName="comp1_283_350_106FEV1" /></td>
        <td><input type="text" class="form-control" form-control  formControlName="comp2_283_350_106FEA1" /></td>
        <td><input type="text" class="form-control" form-control  formControlName="comp3_283_350_106FEH1" /></td>
      </tr>
     
    </tbody>
  </table>


<h4 class="sub-heading">4.	Attenuation across SV mounts. </h4>
    <table  class="vibration-table">
    <thead>
        
      <tr>
        <th>Mounts</th>
        <th>1</th><th>2</th><th>3</th><th>4</th>
      </tr>
    </thead>

    <!-- No.1 -->
    <tr><td colspan="9" style="text-align:center;"><b><u>No.1</u></b></td></tr>
    <tr>
      <td>Top</td>
      <td><input type="text" class="form-control" form-control  formControlName="top_1_1_284_351_107"></td>
      <td><input type="text" class="form-control" form-control  formControlName="top_1_2_284_351_107"></td>
      <td><input type="text" class="form-control" form-control  formControlName="top_1_3_284_351_107"></td>
      <td><input type="text" class="form-control" form-control  formControlName="top_1_4_284_351_107"></td>
    </tr>
    <tr>
      <td>Bot</td>
      <td><input type="text" class="form-control" form-control  formControlName="bot_1_1_285_352_108"></td>
      <td><input type="text" class="form-control" form-control  formControlName="bot_1_2_285_352_108"></td>
      <td><input type="text" class="form-control" form-control  formControlName="bot_1_3_285_352_108"></td>
      <td><input type="text" class="form-control" form-control  formControlName="bot_1_4_285_352_108"></td>
    </tr>
    <tr>
      <td>Att.</td>
      <td><input type="text" class="form-control" form-control  formControlName="att_1_1_286_353_109"></td>
      <td><input type="text" class="form-control" form-control  formControlName="att_1_2_286_353_109"></td>
      <td><input type="text" class="form-control" form-control  formControlName="att_1_3_286_353_109"></td>
      <td><input type="text" class="form-control" form-control  formControlName="att_1_4_286_353_109"></td>
    </tr>
   
    
  </table>
    <h3 class="main-heading">FUEL CENTRIFUGE</h3>

<h4 class="sub-heading">1.	Performance Parameters. </h4>

<div class="trial-table">
  <table>
    <thead>
      <tr>
        <th>Ser</th>
        <th>Description</th>
        <th>Unit</th>
        <th>FER</th>
        <th>AER</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>(a)</td>
        <td>Suction Pressure </td>
        <td>Bar</td>
        <td><input formControlName="fer_storage_initial_357_110" /></td>
        <td><input formControlName="fer_storage_final_357_110" /></td>
      </tr>
      <tr>
        <td>(b)</td>
        <td>Discharge Pressure  </td>
        <td>Bar</td>
        <td><input formControlName="fer_ru_initial_358_111" /></td>
        <td><input formControlName="fer_ru_final_358_111" /></td>
      </tr>
      <tr>
        <td>(c)</td>
        <td>Capacity </td>
        <td>LPM</td>
        <td colspan="2"><input formControlName="fer_fuel_initial_359_112" /></td>
      </tr>
    </tbody>
  </table>
</div>
<h3>2. <u>Capacity trials.</u></h3>

<div class="trial-table">
  <table>
    <thead>
      <tr>
        <th>Ser</th>
        <th>Description</th>
        <th>Unit</th>
        <th>Initial reading</th>
        <th>Final reading</th>
      </tr>
    </thead>
    <tbody>
      <!-- FER -->
      <tr><td colspan="5"><strong>FER</strong></td></tr>
      <tr>
        <td>(a)</td>
        <td>Sounding of storage tank</td>
        <td>TPH</td>
        <td><input formControlName="fer_storage_initial_357_113" /></td>
        <td><input formControlName="fer_storage_final_357_113" /></td>
      </tr>
      <tr>
        <td>(b)</td>
        <td>Sounding of RU tank</td>
        <td>TPH</td>
        <td><input formControlName="fer_ru_initial_358_114" /></td>
        <td><input formControlName="fer_ru_final_358_114" /></td>
      </tr>
      <tr>
        <td>(c)</td>
        <td>Total Fuel Transferred</td>
        <td>TPH</td>
        <td colspan="2"><input formControlName="fer_fuel_initial_359_115" /></td>
      </tr>
      <tr>
        <td>(d)</td>
        <td>Time of transfer</td>
        <td>min</td>
        <td colspan="2"><input formControlName="fer_time_initial_360_116" /></td>
      </tr>
      <tr>
        <td>(e)</td>
        <td>Capacity achieved</td>
        <td>TPH</td>
        <td colspan="2"><input formControlName="fer_capacity_initial_361_117" /></td>
      </tr>

      <!-- AER -->
      <tr><td colspan="5"><strong>AER</strong></td></tr>
      <tr>
        <th>Ser</th>
        <th>Description</th>
        <th>Unit</th>
        <th>Initial reading</th>
        <th>Final reading</th>
      </tr>
      <tr>
        <td>(a)</td>
        <td>Sounding of storage tank</td>
        <td>TPH</td>
        <td><input formControlName="aer_storage_initial_362_118" /></td>
        <td><input formControlName="aer_storage_final_362_118" /></td>
      </tr>
      <tr>
        <td>(b)</td>
        <td>Sounding of RU tank</td>
        <td>TPH</td>
        <td><input formControlName="aer_ru_initial_363_119" /></td>
        <td><input formControlName="aer_ru_final_363_119" /></td>
      </tr>
      <tr>
        <td>(c)</td>
        <td>Total Fuel Transferred</td>
        <td>TPH</td>
        <td colspan="2"><input formControlName="aer_fuel_initial_364_120" /></td>
      </tr>
      <tr>
        <td>(d)</td>
        <td>Time of transfer</td>
        <td>min</td>
        <td colspan="2"><input formControlName="aer_time_initial_365_121" /></td>
      </tr>
      <tr>
        <td>(e)</td>
        <td>Capacity achieved</td>
        <td>TPH</td>
        <td colspan="2"><input formControlName="aer_capacity_initial_366_122" /></td>
      </tr>

    </tbody>
  </table>
</div>

 <h3 class="main-heading">BILGE PUMP</h3>

<h4 class="sub-heading">1.	Performance Parameters. </h4>
   <table  class="vibration-table">
    <thead>
      <tr>
        <th>Ser</th>
        <th>Description</th>
        <th>No.1</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>(a)</td>
        <td>Condition of SV mounts of pumps & motor</td>
        <td><input type="text" class="form-control" form-control  formControlName="no1aAER_263_330_123" /></td>
      </tr>
      <tr>
        <td>(b)</td>
        <td>Condition of suction/discharge compensator </td>
        <td><input type="text" class="form-control" form-control  formControlName="no1bAER_264_331_124" /></td>
      </tr>
      <tr>
        <td>(c)</td>
        <td>Securing of the suction/discharge pipe</td>
        <td><input type="text" class="form-control" form-control  formControlName="no1cAER_265_332_125" /></td>
      </tr>
      <tr>
        <td>(d)</td>
        <td>Abnormal noise</td>
        <td><input type="text" class="form-control" form-control  formControlName="no1dAER_266_333_126" /></td>
      </tr>
      <tr>
        <td>(e)</td>
        <td>Excessive vibration</td>
        <td><input type="text" class="form-control" form-control  formControlName="no1eAER_267_334_127" /></td>
      </tr>
      <tr>
        <td>(f)</td>
        <td>Gland leak (Mechanical seal)</td>
        <td><input type="text" class="form-control" form-control  formControlName="no1fAER_268_335_128" /></td>
      </tr>
      <tr>
        <td>(g)</td>
        <td>Pressure fluctuation</td>
        <td><input type="text" class="form-control" form-control  formControlName="no1gAER_269_336_129" /></td>
      </tr>
      <tr>
        <td>(h)</td>
        <td>Suction pressure</td>
        <td><input type="text" class="form-control" form-control  formControlName="no1hAER_270_337_130" /></td>
      </tr>
      <tr>
        <td>(j)</td>
        <td>Discharge Pressure</td>
        <td><input type="text" class="form-control" form-control  formControlName="no1fAER_271_338_131" /></td>
      </tr>
      <tr>
        <td>(k)</td>
        <td>Start/stop from local and remote</td>
        <td><input type="text" class="form-control" form-control  formControlName="no1gAER_272_339_132" /></td>
      </tr>
      <tr>
        <td>(l)</td>
        <td>Valves and gauges provided with tallies</td>
        <td><input type="text" class="form-control" form-control  formControlName="no1hAER_273_340_133" /></td>
      </tr>
      <tr>
        <td>(m)</td>
        <td>Operating instructions displayed for pump</td>
        <td><input type="text" class="form-control" form-control  formControlName="no1hAER_274_341_134" /></td>
      </tr>
      <tr>
        <td>(n)</td>
        <td>Pipe painting as per color standard</td>
        <td><input type="text" class="form-control" form-control  formControlName="no1iAER_275_342_135" /></td>
      </tr>
      <tr>
        <td>(p)</td>
        <td>Starting current</td>
        <td><input type="text" class="form-control" form-control  formControlName="no1jAER_276_343_136" /></td>
      </tr>
      <tr>
        <td>(q)</td>
        <td>Running current</td>
        <td><input type="text" class="form-control" form-control  formControlName="no1kAER_277_344_137" /></td>
      </tr>
    </tbody>
  </table>

   <h3>2. <u>SPM Levels</u></h3>

  <table class="spm-table">
    <thead>
      <tr>
        <th>Description</th>
        <th>No.1</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Motor FE</td>
        <td><input type="text" class="form-control" form-control  formControlName="fe1_278_345_138" /></td>
      </tr>
      <tr>
        <td>Motor DE</td>
        <td><input type="text" class="form-control" form-control  formControlName="de1_279_346_139" /></td>
      </tr>
    </tbody>
  </table>

 <h3>3. <u>Overall Vibration</u></h3>

  <!-- First Table -->
  <table class="vibration-table">
    <thead>
      <tr>
        <th rowspan="2">Location</th>
        <th colspan="3">No.1</th>
      </tr>
      <tr>
        <th><u>V</u></th>
        <th><u>A</u></th>
        <th><u>H</u></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Motor FE</td>
        <td><input type="text" class="form-control" form-control  formControlName="motor1_280_347_140FEV1" /></td>
        <td><input type="text" class="form-control" form-control  formControlName="motor2_280_347_140FEA1" /></td>
        <td><input type="text" class="form-control" form-control  formControlName="motor3_280_347_140FEH1" /></td>
        
      </tr>
      <tr>
        <td>Motor DE</td>
        <td><input type="text" class="form-control" form-control  formControlName="motor1_281_348_141DEV1" /></td>
        <td><input type="text" class="form-control" form-control  formControlName="motor2_281_348_141DEA1" /></td>
        <td><input type="text" class="form-control" form-control  formControlName="motor3_281_348_141DEH1" /></td>
      </tr>
      <tr>
        <td>Comp DE</td>
        <td><input type="text" class="form-control" form-control  formControlName="comp1_282_349_142DEV1" /></td>
        <td><input type="text" class="form-control" form-control  formControlName="comp2_282_349_142DEA1" /></td>
        <td><input type="text" class="form-control" form-control  formControlName="comp3_282_349_142DEH1" /></td>
      </tr>
      <tr>
        <td>Comp FE</td>
        <td><input type="text" class="form-control" form-control  formControlName="comp1_283_350_143FEV1" /></td>
        <td><input type="text" class="form-control" form-control  formControlName="comp2_283_350_143FEA1" /></td>
        <td><input type="text" class="form-control" form-control  formControlName="comp3_283_350_143FEH1" /></td>
      </tr>
     
    </tbody>
  </table>


<h4 class="sub-heading">4.	Attenuation across SV mounts. </h4>
    <table  class="vibration-table">
    <thead>
        
      <tr>
        <th>Mounts</th>
        <th>1</th><th>2</th><th>3</th><th>4</th><th>5</th><th>6</th><th>7</th><th>8</th>
      </tr>
    </thead>

    <tr>
      <td>Top</td>
      <td><input type="text" class="form-control" form-control  formControlName="top_1_1_284_351_144"></td>
      <td><input type="text" class="form-control" form-control  formControlName="top_1_2_284_351_144"></td>
      <td><input type="text" class="form-control" form-control  formControlName="top_1_3_284_351_144"></td>
      <td><input type="text" class="form-control" form-control  formControlName="top_1_4_284_351_144"></td>
      <td><input type="text" class="form-control" form-control  formControlName="top_1_5_284_351_144"></td>
      <td><input type="text" class="form-control" form-control  formControlName="top_1_6_284_351_144"></td>
      <td><input type="text" class="form-control" form-control  formControlName="top_1_7_284_351_144"></td>
      <td><input type="text" class="form-control" form-control  formControlName="top_1_8_284_351_144"></td>
    </tr>
    <tr>
      <td>Bot</td>
      <td><input type="text" class="form-control" form-control  formControlName="bot_1_1_285_352_145"></td>
      <td><input type="text" class="form-control" form-control  formControlName="bot_1_2_285_352_145"></td>
      <td><input type="text" class="form-control" form-control  formControlName="bot_1_3_285_352_145"></td>
      <td><input type="text" class="form-control" form-control  formControlName="bot_1_4_285_352_145"></td>
      <td><input type="text" class="form-control" form-control  formControlName="bot_1_5_285_352_145"></td>
      <td><input type="text" class="form-control" form-control  formControlName="bot_1_6_285_352_145"></td>
      <td><input type="text" class="form-control" form-control  formControlName="bot_1_7_285_352_145"></td>
      <td><input type="text" class="form-control" form-control  formControlName="bot_1_8_285_352_145"></td>
    </tr>
    <tr>
      <td>Att.</td>
      <td><input type="text" class="form-control" form-control  formControlName="att_1_1_286_353_146"></td>
      <td><input type="text" class="form-control" form-control  formControlName="att_1_2_286_353_146"></td>
      <td><input type="text" class="form-control" form-control  formControlName="att_1_3_286_353_146"></td>
      <td><input type="text" class="form-control" form-control  formControlName="att_1_4_286_353_146"></td>
      <td><input type="text" class="form-control" form-control  formControlName="att_1_5_286_353_146"></td>
      <td><input type="text" class="form-control" form-control  formControlName="att_1_6_286_353_146"></td>
      <td><input type="text" class="form-control" form-control  formControlName="att_1_7_286_353_146"></td>
      <td><input type="text" class="form-control" form-control  formControlName="att_1_8_286_353_146"></td>
    </tr>
   
    
  </table>
   <h3 class="main-heading">AVCAT RECIRCULATING PUMP</h3>

<h4 class="sub-heading">1.	Performance Parameters. </h4>
   <table  class="vibration-table">
    <thead>
      <tr>
        <th>Ser</th>
        <th>Description</th>
        <th>No.1</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>(a)</td>
        <td>Condition of SV mounts of pumps & motor</td>
        <td><input type="text" class="form-control" form-control  formControlName="no1aAER_263_330_147" /></td>
      </tr>
      <tr>
        <td>(b)</td>
        <td>Condition of suction/discharge compensator </td>
        <td><input type="text" class="form-control" form-control  formControlName="no1bAER_264_331_148" /></td>
      </tr>
      <tr>
        <td>(c)</td>
        <td>Securing of the suction/discharge pipe</td>
        <td><input type="text" class="form-control" form-control  formControlName="no1cAER_265_332_149" /></td>
      </tr>
      <tr>
        <td>(d)</td>
        <td>Abnormal noise</td>
        <td><input type="text" class="form-control" form-control  formControlName="no1dAER_266_333_150" /></td>
      </tr>
      <tr>
        <td>(e)</td>
        <td>Excessive vibration</td>
        <td><input type="text" class="form-control" form-control  formControlName="no1eAER_267_334_151" /></td>
      </tr>
      <tr>
        <td>(f)</td>
        <td>Gland leak (Mechanical seal)</td>
        <td><input type="text" class="form-control" form-control  formControlName="no1fAER_268_335_152" /></td>
      </tr>
      <tr>
        <td>(g)</td>
        <td>Pressure fluctuation</td>
        <td><input type="text" class="form-control" form-control  formControlName="no1gAER_269_336_153" /></td>
      </tr>
      <tr>
        <td>(h)</td>
        <td>Suction pressure</td>
        <td><input type="text" class="form-control" form-control  formControlName="no1hAER_270_337_154" /></td>
      </tr>
      <tr>
        <td>(j)</td>
        <td>Discharge Pressure</td>
        <td><input type="text" class="form-control" form-control  formControlName="no1fAER_271_338_155" /></td>
      </tr>
      <tr>
        <td>(k)</td>
        <td>Start/stop from local and remote</td>
        <td><input type="text" class="form-control" form-control  formControlName="no1gAER_272_339_156" /></td>
      </tr>
      <tr>
        <td>(l)</td>
        <td>Valves and gauges provided with tallies</td>
        <td><input type="text" class="form-control" form-control  formControlName="no1hAER_273_340_157" /></td>
      </tr>
      <tr>
        <td>(m)</td>
        <td>Operating instructions displayed for pump</td>
        <td><input type="text" class="form-control" form-control  formControlName="no1hAER_274_341_158" /></td>
      </tr>
      <tr>
        <td>(n)</td>
        <td>Pipe painting as per color standard</td>
        <td><input type="text" class="form-control" form-control  formControlName="no1iAER_275_342_159" /></td>
      </tr>
      <tr>
        <td>(p)</td>
        <td>Starting current</td>
        <td><input type="text" class="form-control" form-control  formControlName="no1jAER_276_343_160" /></td>
      </tr>
      <tr>
        <td>(q)</td>
        <td>Running current</td>
        <td><input type="text" class="form-control" form-control  formControlName="no1kAER_277_344_161" /></td>
      </tr>
    </tbody>
  </table>

   <h3>2. <u>SPM Levels</u></h3>

  <table class="spm-table">
    <thead>
      <tr>
        <th>Description</th>
        <th>No.1</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Motor FE</td>
        <td><input type="text" class="form-control" form-control  formControlName="fe1_278_345_162" /></td>
      </tr>
      <tr>
        <td>Motor DE</td>
        <td><input type="text" class="form-control" form-control  formControlName="de1_279_346_163" /></td>
      </tr>
    </tbody>
  </table>

 <h3>3. <u>Overall Vibration</u></h3>

  <!-- First Table -->
  <table class="vibration-table">
    <thead>
      <tr>
        <th rowspan="2">Location</th>
        <th colspan="3">No.1</th>
      </tr>
      <tr>
        <th><u>V</u></th>
        <th><u>A</u></th>
        <th><u>H</u></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Motor FE</td>
        <td><input type="text" class="form-control" form-control  formControlName="motor1_280_347_164FEV1" /></td>
        <td><input type="text" class="form-control" form-control  formControlName="motor2_280_347_164FEA1" /></td>
        <td><input type="text" class="form-control" form-control  formControlName="motor3_280_347_164FEH1" /></td>
        
      </tr>
      <tr>
        <td>Motor DE</td>
        <td><input type="text" class="form-control" form-control  formControlName="motor1_281_348_165DEV1" /></td>
        <td><input type="text" class="form-control" form-control  formControlName="motor2_281_348_165DEA1" /></td>
        <td><input type="text" class="form-control" form-control  formControlName="motor3_281_348_165DEH1" /></td>
      </tr>
      <tr>
        <td>Comp DE</td>
        <td><input type="text" class="form-control" form-control  formControlName="comp1_282_349_166DEV1" /></td>
        <td><input type="text" class="form-control" form-control  formControlName="comp2_282_349_166DEA1" /></td>
        <td><input type="text" class="form-control" form-control  formControlName="comp3_282_349_166DEH1" /></td>
      </tr>
      <tr>
        <td>Comp FE</td>
        <td><input type="text" class="form-control" form-control  formControlName="comp1_283_350_167FEV1" /></td>
        <td><input type="text" class="form-control" form-control  formControlName="comp2_283_350_167FEA1" /></td>
        <td><input type="text" class="form-control" form-control  formControlName="comp3_283_350_167FEH1" /></td>
      </tr>
     
    </tbody>
  </table>


<h4 class="sub-heading">4.	Attenuation across SV mounts. </h4>
    <table  class="vibration-table">
    <thead>
        
      <tr>
        <th>Mounts</th>
        <th>1</th><th>2</th><th>3</th><th>4</th>
      </tr>
    </thead>

    <tr>
      <td>Top</td>
      <td><input type="text" class="form-control" form-control  formControlName="top_1_5_284_351_168"></td>
      <td><input type="text" class="form-control" form-control  formControlName="top_1_6_284_351_168"></td>
      <td><input type="text" class="form-control" form-control  formControlName="top_1_7_284_351_168"></td>
      <td><input type="text" class="form-control" form-control  formControlName="top_1_8_284_351_168"></td>
    </tr>
    <tr>
      <td>Bot</td>
      <td><input type="text" class="form-control" form-control  formControlName="bot_1_5_285_352_169"></td>
      <td><input type="text" class="form-control" form-control  formControlName="bot_1_6_285_352_169"></td>
      <td><input type="text" class="form-control" form-control  formControlName="bot_1_7_285_352_169"></td>
      <td><input type="text" class="form-control" form-control  formControlName="bot_1_8_285_352_169"></td>
    </tr>
    <tr>
      <td>Att.</td>
      <td><input type="text" class="form-control" form-control  formControlName="att_1_5_286_353_170"></td>
      <td><input type="text" class="form-control" form-control  formControlName="att_1_6_286_353_170"></td>
      <td><input type="text" class="form-control" form-control  formControlName="att_1_7_286_353_170"></td>
      <td><input type="text" class="form-control" form-control  formControlName="att_1_8_286_353_170"></td>
    </tr>
  </table>


<!-- OIL WATER SEPERATOR -->
  <h3 class="main-heading">OIL WATER SEPERATOR</h3>

<h4 class="sub-heading">1.	Safety devices checks</h4>
   <table  class="vibration-table">
    <thead>
      <tr>
        <th>Ser</th>
        <th>Description</th>
        <th>AER</th>
        <th>FER</th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>(a)</td>
        <td>Pumping running dry protection solenoid valve operation </td>
        <td><input type="text" class="form-control" form-control  formControlName="no1aAER_263_330_171" /></td>
        <td><input type="text" class="form-control" form-control  formControlName="no2aFER_263_330_171" /></td>
      </tr>
      <tr>
        <td>(b)</td>
        <td>Tank No. 1 high level and  operation of solenoid Valve </td>
        <td><input type="text" class="form-control" form-control  formControlName="no1bAER_264_331_172" /></td>
        <td><input type="text" class="form-control" form-control  formControlName="no2bFER_264_331_172" /></td>
      </tr>

    </tbody>
  </table>
  <h4 class="sub-heading">2.	Performance Parameters. </h4>
   <table  class="vibration-table">
    <thead>
      <tr>
        <th>Ser</th>
        <th>Description</th>
        <th>AER</th>
        <th>FER</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>(a)</td>
        <td>3/2-way solenoid valve operation above and below 15 PPM</td>
        <td><input type="text" class="form-control" form-control  formControlName="no1aAER_263_330_173" /></td>
        <td><input type="text" class="form-control" form-control  formControlName="no2aFER_263_330_173" /></td>
      </tr>
      <tr>
        <td>(b)</td>
        <td>Differential pressure relief Valve</td>
        <td><input type="text" class="form-control" form-control  formControlName="no1bAER_264_331_174" /></td>
        <td><input type="text" class="form-control" form-control  formControlName="no2bFER_264_331_174" /></td>
      </tr>
      <tr>
        <td>(c)</td>
        <td>Tank 1 Overflow solenoid operation</td>
        <td><input type="text" class="form-control" form-control  formControlName="no1cAER_265_332_175" /></td>
        <td><input type="text" class="form-control" form-control  formControlName="no2cFER_265_332_175" /></td>
      </tr>
      <tr>
        <td>(d)</td>
        <td>Solenoid operation of fresh water line</td>
        <td><input type="text" class="form-control" form-control  formControlName="no1dAER_266_333_176" /></td>
        <td><input type="text" class="form-control" form-control  formControlName="no2dFER_266_333_176" /></td>
      </tr>

    </tbody>
  </table>

   <h3>3. <u>SPM Levels</u></h3>

  <table class="spm-table">
    <thead>
      <tr>
        <th>Description</th>
        <th>AER</th>
        <th>FER</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Motor FE</td>
        <td><input type="text" class="form-control" form-control  formControlName="fe1_278_345_177" /></td>
        <td><input type="text" class="form-control" form-control  formControlName="fe2_278_345_177" /></td>
      </tr>
      <tr>
        <td>Motor DE</td>
        <td><input type="text" class="form-control" form-control  formControlName="de1_279_346_178" /></td>
        <td><input type="text" class="form-control" form-control  formControlName="de2_279_346_178" /></td>
      </tr>
    </tbody>
  </table>



   <button class="btn btn-success" (click)="onSubmit()">Submit</button>


    </form>
</section>