
<div class="table-container">
  <h3 class="table-title" style="text-align: left;"><strong>Thermal parameters at SRPM 255 (01 Nominal)</strong></h3>
  <form [formGroup]="thermalForm">
    <table class="thermal-table">
      <thead>
        <tr>
          <th rowspan="2">Ser</th>
          <th rowspan="2">Position</th>
          <th colspan="2">Port Shaft (SRPM)</th>
          <th colspan="2">Stbd Shaft (SRPM)</th>
        </tr>
        <tr>
          <th>Remote(°C)<br>(FWD GTR)</th>
          <th>Local (°C)</th>
          <th>Remote(°C)<br>(AFT GTR)</th>
          <th>Local (°C)</th>
        </tr>
      </thead>
      <tbody>
        <!-- Row (a) -->
        <tr>
          <td>(a)</td>
          <td>Main Thrust Block FWD</td>
          <td><input type="number" formControlName="portRemote0_1" class="temp-input"></td>
          <td><input type="number" formControlName="portLocal0_1" class="temp-input"></td>
          <td><input type="number" formControlName="stbdRemote0_1" class="temp-input"></td>
          <td><input type="number" formControlName="stbdLocal0_1" class="temp-input"></td>
        </tr>
        
        <!-- Row (b) -->
        <tr>
          <td>(b)</td>
          <td>Main Thrust Block AFT</td>
          <td><input type="number" formControlName="portRemote0_2" class="temp-input"></td>
          <td><input type="number" formControlName="portLocal0_2" class="temp-input"></td>
          <td><input type="number" formControlName="stbdRemote0_2" class="temp-input"></td>
          <td><input type="number" formControlName="stbdLocal0_2" class="temp-input"></td>
        </tr>
        
        <!-- Row (c) -->
        <tr>
          <td>(c)</td>
          <td>Plummer Block - 1</td>
          <td><input type="number" formControlName="portRemote0_3" class="temp-input"></td>
          <td><input type="number" formControlName="portLocal0_3" class="temp-input"></td>
          <td><input type="number" formControlName="stbdRemote0_3" class="temp-input"></td>
          <td><input type="number" formControlName="stbdLocal0_3" class="temp-input"></td>
        </tr>
        
        <!-- Row (d) -->
        <tr>
          <td>(d)</td>
          <td>Plummer Block - 2</td>
          <td><input type="number" formControlName="portRemote0_4" class="temp-input"></td>
          <td><input type="number" formControlName="portLocal0_4" class="temp-input"></td>
          <td><input type="number" formControlName="stbdRemote0_4" class="temp-input"></td>
          <td><input type="number" formControlName="stbdLocal0_4" class="temp-input"></td>
        </tr>
        
        <!-- Row (e) -->
        <tr>
          <td>(e)</td>
          <td>Plummer Block - 3</td>
          <td><input type="number" formControlName="portRemote0_5" class="temp-input"></td>
          <td><input type="number" formControlName="portLocal0_5" class="temp-input"></td>
          <td><input type="number" formControlName="stbdRemote0_5" class="temp-input"></td>
          <td><input type="number" formControlName="stbdLocal0_5" class="temp-input"></td>
        </tr>
        
        <!-- Row (f) -->
        <tr>
          <td>(f)</td>
          <td>Plummer Block - 4</td>
          <td><input type="number" formControlName="portRemote0_6" class="temp-input"></td>
          <td><input type="number" formControlName="portLocal0_6" class="temp-input"></td>
          <td><input type="number" formControlName="stbdRemote0_6" class="temp-input"></td>
          <td><input type="number" formControlName="stbdLocal0_6" class="temp-input"></td>
        </tr>
        
        <!-- Row (g) -->
        <tr>
          <td>(g)</td>
          <td>Plummer Block - 5</td>
          <td><input type="number" formControlName="portRemote0_7" class="temp-input"></td>
          <td><input type="number" formControlName="portLocal0_7" class="temp-input"></td>
          <td><input type="number" formControlName="stbdRemote0_7" class="temp-input"></td>
          <td><input type="number" formControlName="stbdLocal0_7" class="temp-input"></td>
        </tr>
        
        <!-- Row (h) -->
        <tr>
          <td>(h)</td>
          <td>Plummer Block - 6</td>
          <td><input type="number" formControlName="portRemote0_8" class="temp-input"></td>
          <td><input type="number" formControlName="portLocal0_8" class="temp-input"></td>
          <td><input type="number" formControlName="stbdRemote0_8" class="temp-input"></td>
          <td><input type="number" formControlName="stbdLocal0_8" class="temp-input"></td>
        </tr>
        
        <!-- Row (i) -->
        <tr>
          <td>(i)</td>
          <td>Plummer Block - 7</td>
          <td><input type="number" formControlName="portRemote0_9" class="temp-input"></td>
          <td><input type="number" formControlName="portLocal0_9" class="temp-input"></td>
          <td><input type="number" formControlName="stbdRemote0_9" class="temp-input"></td>
          <td><input type="number" formControlName="stbdLocal0_9" class="temp-input"></td>
        </tr>
      </tbody>
    </table>
  </form>


<div>
<h3 class="table-title2" style="text-align: left;"><strong>Thermal parameters at SRPM  0000 (0.000 Nominal)</strong></h3>
    <form [formGroup]="thermalForm">
    <table class="thermal-table">
      <thead>
        <tr>
          <th rowspan="2">Ser</th>
          <th rowspan="2">Position</th>
          <th colspan="2">Port Shaft (SRPM)</th>
          <th colspan="2">Stbd Shaft (SRPM)</th>
        </tr>
        <tr>
          <th>Remote(°C)<br>(FWD GTR)</th>
          <th>Local (°C)</th>
          <th>Remote(°C)<br>(AFT GTR)</th>
          <th>Local (°C)</th>
        </tr>
      </thead>
      <tbody>
        <!-- Row (a) -->
        <tr>
          <td>(a)</td>
          <td>Main Thrust Block FWD</td>
          <td><input type="number" formControlName="portRemote10" class="temp-input"></td>
          <td><input type="number" formControlName="portLocal10" class="temp-input"></td>
          <td><input type="number" formControlName="stbdRemote10" class="temp-input"></td>
          <td><input type="number" formControlName="stbdLocal10" class="temp-input"></td>
        </tr>
        
        <!-- Row (b) -->
        <tr>
          <td>(b)</td>
          <td>Main Thrust Block AFT</td>
          <td><input type="number" formControlName="portRemote11" class="temp-input"></td>
          <td><input type="number" formControlName="portLocal11" class="temp-input"></td>
          <td><input type="number" formControlName="stbdRemote11" class="temp-input"></td>
          <td><input type="number" formControlName="stbdLocal11" class="temp-input"></td>
        </tr>
        
        <!-- Row (c) -->
        <tr>
          <td>(c)</td>
          <td>Plummer Block - 1</td>
          <td><input type="number" formControlName="portRemote12" class="temp-input"></td>
          <td><input type="number" formControlName="portLocal12" class="temp-input"></td>
          <td><input type="number" formControlName="stbdRemote12" class="temp-input"></td>
          <td><input type="number" formControlName="stbdLocal12" class="temp-input"></td>
        </tr>
        
        <!-- Row (d) -->
        <tr>
          <td>(d)</td>
          <td>Plummer Block - 2</td>
          <td><input type="number" formControlName="portRemote13" class="temp-input"></td>
          <td><input type="number" formControlName="portLocal13" class="temp-input"></td>
          <td><input type="number" formControlName="stbdRemote13" class="temp-input"></td>
          <td><input type="number" formControlName="stbdLocal13" class="temp-input"></td>
        </tr>
        
        <!-- Row (e) -->
        <tr>
          <td>(e)</td>
          <td>Plummer Block - 3</td>
          <td><input type="number" formControlName="portRemote14" class="temp-input"></td>
          <td><input type="number" formControlName="portLocal14" class="temp-input"></td>
          <td><input type="number" formControlName="stbdRemote14" class="temp-input"></td>
          <td><input type="number" formControlName="stbdLocal14" class="temp-input"></td>
        </tr>
        
        <!-- Row (f) -->
        <tr>
          <td>(f)</td>
          <td>Plummer Block - 4</td>
          <td><input type="number" formControlName="portRemote15" class="temp-input"></td>
          <td><input type="number" formControlName="portLocal15" class="temp-input"></td>
          <td><input type="number" formControlName="stbdRemote15" class="temp-input"></td>
          <td><input type="number" formControlName="stbdLocal15" class="temp-input"></td>
        </tr>
        
        <!-- Row (g) -->
        <tr>
          <td>(g)</td>
          <td>Plummer Block - 5</td>
          <td><input type="number" formControlName="portRemote16" class="temp-input"></td>
          <td><input type="number" formControlName="portLocal16" class="temp-input"></td>
          <td><input type="number" formControlName="stbdRemote16" class="temp-input"></td>
          <td><input type="number" formControlName="stbdLocal16" class="temp-input"></td>
        </tr>
        
        <!-- Row (h) -->
        <tr>
          <td>(h)</td>
          <td>Plummer Block - 6</td>
          <td><input type="number" formControlName="portRemote17" class="temp-input"></td>
          <td><input type="number" formControlName="portLocal17" class="temp-input"></td>
          <td><input type="number" formControlName="stbdRemote17" class="temp-input"></td>
          <td><input type="number" formControlName="stbdLocal17" class="temp-input"></td>
        </tr>
        
        <!-- Row (i) -->
        <tr>
          <td>(i)</td>
          <td>Plummer Block - 7</td>
          <td><input type="number" formControlName="portRemote18" class="temp-input"></td>
          <td><input type="number" formControlName="portLocal18" class="temp-input"></td>
          <td><input type="number" formControlName="stbdRemote18" class="temp-input"></td>
          <td><input type="number" formControlName="stbdLocal18" class="temp-input"></td>
        </tr>
      </tbody>
    </table>
  </form>
  </div>
</div>


<!-- 4th form in Appendix A -->

<div class="table-container">
  <h2 class="table-title" style="text-align: left;">Shafting Vibration Parameters</h2>
  <form [formGroup]="thermalForm">
  <table class="vibration-table">
    <thead>
      <tr>
        <th rowspan="2">Ser</th>
        <th rowspan="2">Measuring Point</th>
        <th rowspan="1">Dir</th>
        <th rowspan="1">Limit</th>
        <th colspan="2">Max Overall Value in mm/s at 0.00N/SRPM</th>
        <th colspan="2">Max Overall Value in mm/s at 0.0N/SRPM</th>
      </tr>
      <tr>
        <th>RPM</th>
        <th></th>
        <th>Port Shaft</th>
        <th>Stbd Shaft</th>
        <th>Port Shaft</th>
        <th>Stbd Shaft</th>
      </tr>
    </thead>

    <tbody>
      <!-- Row (a) MTB 1 -->
      <tr>
        <td rowspan="3">(a)</td>
        <td rowspan="3">MTB 1</td>
        <td>V</td>
        <td rowspan="27">
          <div>Trend</div>
          <div>Limit 3 mm/sec</div>
          <br>
          <div>Alarm 7 mm/sec</div>
        </td>
        <td><input type="number" formControlName="mtb1V_port19" class="vibration-input"></td>
        <td rowspan="3">NA</td>
        
        <td><input type="number" formControlName="mtb1V_port019" class="vibration-input"></td>
        <td rowspan="3">NA</td>
      </tr>
      <tr>
        <td>A</td>
        <td><input type="number" formControlName="mtb1A_port20" class="vibration-input"></td>
        <td><input type="number" formControlName="mtb1A_port020" class="vibration-input"></td>
      </tr>
      <tr>
        <td>H</td>
        <td><input type="number" formControlName="mtb1H_port21" class="vibration-input"></td>
        <td><input type="number" formControlName="mtb1H_port021" class="vibration-input"></td>
      </tr>

      <!-- Row (b) MTB 2 -->
      <tr>
        <td rowspan="3">(b)</td>
        <td rowspan="3">MTB 2</td>
        <td>V</td>
        <td rowspan="3">NA</td>
        <td><input type="number" formControlName="mtb2V_stbd22" class="vibration-input"></td>
        <td rowspan="3">NA</td>
        <td><input type="number" formControlName="mtb2V_stbd022" class="vibration-input"></td>
      </tr>
      <tr>
        <td>A</td>
        <td><input type="number" formControlName="mtb2A_stbd23" class="vibration-input"></td>
        <td><input type="number" formControlName="mtb2A_stbd023" class="vibration-input"></td>
      </tr>
      <tr>
        <td>H</td>
        <td><input type="number" formControlName="mtb2H_stbd24" class="vibration-input"></td>
        <td><input type="number" formControlName="mtb2H_stbd024" class="vibration-input"></td>
      </tr>

      <!-- Row (c) PB 1 -->
      <tr>
        <td rowspan="3">(c)</td>
        <td rowspan="3">PB 1</td>
        <td>V</td>
        <td><input type="number" formControlName="pb1V_port25" class="vibration-input"></td>
        <td rowspan="15">NA</td>
        <td><input type="number" formControlName="pb1V_port025" class="vibration-input"></td>
        <td rowspan="15">NA</td>
      </tr>
      <tr>
        <td>A</td>
        <td><input type="number" formControlName="pb1A_port26" class="vibration-input"></td>
        <td><input type="number" formControlName="pb1A_port026" class="vibration-input"></td>
      </tr>
      <tr>
        <td>H</td>
        <td><input type="number" formControlName="pb1H_port27" class="vibration-input"></td>
        <td><input type="number" formControlName="pb1H_port027" class="vibration-input"></td>
      </tr>

      <!-- Continue with remaining rows (d)-(k) following same structure -->
       <tr>
        <td rowspan="3">(d)</td>
        <td rowspan="3">PB 2</td>
        <td>V</td>
        <td><input type="number" formControlName="pb2V_port28" class="vibration-input"></td>
        <td><input type="number" formControlName="pb2V_port028" class="vibration-input"></td>
        <!-- <td>NA</td> -->
      </tr>
      <tr>
        <td>A</td>
        <td><input type="number" formControlName="pb2A_port29" class="vibration-input"></td>
        <td><input type="number" formControlName="pb2A_port029" class="vibration-input"></td>
      </tr>
      <tr>
        <td>H</td>
        <td><input type="number" formControlName="pb2H_port30" class="vibration-input"></td>
        <td><input type="number" formControlName="pb2H_port030" class="vibration-input"></td>
      </tr>
<tr>
        <td rowspan="3">(e)</td>
        <td rowspan="3">PB 3</td>
        <td>V</td>
        <td><input type="number" formControlName="pb3V_port31" class="vibration-input"></td>
        <td><input type="number" formControlName="pb3V_port031" class="vibration-input"></td>
        <!-- <td>NA</td> -->
      </tr>
      <tr>
        <td>A</td>
        <td><input type="number" formControlName="pb3A_port32" class="vibration-input"></td>
        <td><input type="number" formControlName="pb3A_port032" class="vibration-input"></td>
      </tr>
      <tr>
        <td>H</td>
        <td><input type="number" formControlName="pb3H_port33" class="vibration-input"></td>
        <td><input type="number" formControlName="pb3H_port033" class="vibration-input"></td>
      </tr>

      <tr>
        <td rowspan="3">(f)</td>
        <td rowspan="3">PB 4</td>
        <td>V</td>
        <td><input type="number" formControlName="pb4V_port34" class="vibration-input"></td>
        <td><input type="number" formControlName="pb4V_port034" class="vibration-input"></td>
        <!-- <td>NA</td> -->
      </tr>
      <tr>
        <td>A</td>
        <td><input type="number" formControlName="pb4A_port35" class="vibration-input"></td>
        <td><input type="number" formControlName="pb4A_port035" class="vibration-input"></td>
      </tr>
      <tr>
        <td>H</td>
        <td><input type="number" formControlName="pb4H_port36" class="vibration-input"></td>
        <td><input type="number" formControlName="pb4H_port036" class="vibration-input"></td>
      </tr>
<tr>
        <td rowspan="3">(g)</td>
        <td rowspan="3">PB 5</td>
        <td>V</td>
        <td><input type="number" formControlName="pb5V_port37" class="vibration-input"></td>
        <td><input type="number" formControlName="pb5V_port037" class="vibration-input"></td>
      </tr>
      <tr>
        <td>A</td>
        
        <td><input type="number" formControlName="pb5A_port38" class="vibration-input"></td>
        <td><input type="number" formControlName="pb5A_port038" class="vibration-input"></td>
      </tr>
      <tr>
        <td>H</td>
        
        <td><input type="number" formControlName="pb5H_port39" class="vibration-input"></td>
        <td><input type="number" formControlName="pb5H_port039" class="vibration-input"></td>
      </tr>
      <tr>
        <td rowspan="3">(h)</td>
        <td rowspan="3">PB 6</td>
        <td>V</td>
        <td rowspan="6">NA</td>
        <td><input type="number" formControlName="pb6V_stbd40" class="vibration-input"></td>
        <td rowspan="6">NA</td>
        <td><input type="number" formControlName="pb6V_stbd040" class="vibration-input"></td>
        
      </tr>
      <tr>
        <td>A</td>
        
        <td><input type="number" formControlName="pb6A_stbd41" class="vibration-input"></td>
        <td><input type="number" formControlName="pb6A_stbd041" class="vibration-input"></td>
      </tr>
      <tr>
        <td>H</td>
        
        <td><input type="number" formControlName="pb6H_stbd42" class="vibration-input"></td>
        <td><input type="number" formControlName="pb6H_stbd042" class="vibration-input"></td>
      </tr>

<tr>
        <td rowspan="3">(j)</td>
        <td rowspan="3">PB 7</td>
        <td>V</td>
        
        <td><input type="number" formControlName="pb7V_stbd43" class="vibration-input"></td>
        <td><input type="number" formControlName="pb7V_stbd043" class="vibration-input"></td>
        <!-- <td>NA</td> -->
      </tr>
      <tr>
        <td>A</td>
        
        <td><input type="number" formControlName="pb7A_stbd44" class="vibration-input"></td>
        <td><input type="number" formControlName="pb7A_stbd044" class="vibration-input"></td>
      </tr>
      <tr>
        <td>H</td>
        
        <td><input type="number" formControlName="pb7H_stbd45" class="vibration-input"></td>
        <td><input type="number" formControlName="pb7H_stbd045" class="vibration-input"></td>
      </tr>
     
      <!-- ___ -->
      
      <!-- Row (k) Stern Tube -->
      <tr>
        <td rowspan="3">(k)</td>
        <td rowspan="3">Stern Tube</td>
        <td>V</td>
        <td rowspan="3">
          <div>Trend</div>
          <div>2 mm/sec</div>
          <br>
          <div>Alarm 7 mm/sec</div>
        </td>
        <td><input type="number" formControlName="sternTubeV_port46" class="vibration-input"></td>
        <td><input type="number" formControlName="sternTubeV_stbd46" class="vibration-input"></td>
        <td><input type="number" formControlName="sternTubeV_port046" class="vibration-input"></td>
        <td><input type="number" formControlName="sternTubeV_stbd_46" class="vibration-input"></td>
      </tr>
      <tr>
        <td>A</td>
        
        <td><input type="number" formControlName="sternTubeA_port47" class="vibration-input"></td>
        <td><input type="number" formControlName="sternTubeA_stbd47" class="vibration-input"></td>
        <td><input type="number" formControlName="sternTubeA_port047" class="vibration-input"></td>
        <td><input type="number" formControlName="sternTubeA_stbd_47" class="vibration-input"></td>
      </tr>
      <tr>
        <td>H</td>
        
        <td><input type="number" formControlName="sternTubeH_port48" class="vibration-input"></td>
        <td><input type="number" formControlName="sternTubeH_stbd48" class="vibration-input"></td>
        <td><input type="number" formControlName="sternTubeH_port048" class="vibration-input"></td>
        <td><input type="number" formControlName="sternTubeH_stbd_48" class="vibration-input"></td>
      </tr>
    </tbody>
  </table>
  </form>
</div>